{% extends "layout.html" %}
    {% block content %}
            <div id="home">

                <div class="container-fluid">
                    <div class="card-deck">
                        <!-- <div class="card shadow-lg p-3 mb-5 rounded">
                            <a id="r10btn"  class=""> href="r10"
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>R10<h6>(Comming soon)</h6>
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3> 
                                </div>
                            </a>
                        </div> -->
                        <!-- <div class="card shadow-lg p-3 mb-5 rounded">
                            <a id="r13btn"  class="">  href="r13" 
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>R13<h6>(Comming soon)</h6>
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3>
                                </div>
                            </a>
                        </div> -->
                        <div class="card shadow-lg p-3 mb-5 rounded">
                            <a id="r16btn" href="r16" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>R16
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3>
                                </div>
                            </a>
                        </div>
                        <div class="card shadow-lg p-3 mb-5 rounded">
                            <a id="R16btn"  class=""> <!-- href="r19" -->
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>R19<h6>(Comming soon)</h6>
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

{% endblock %}
            
