{% extends "layout.html" %}
    {% block content %}
            <div class="text-center mine1"><h2>R16</h2></div>
            <br>
            <div id = "r10">
                <div class="container-fluid">
                    <div class="card-deck">
                        <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r16cse" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>CSE
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3> 
                                </div>
                            </a>
                        </div>
                        <!-- <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r16it" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>IT
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3>
                                </div>
                            </a>
                        </div> -->
                        <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r16ece" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>ECE
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3>
                                </div>
                            </a>
                        </div>
                        <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r16eee" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>EEE
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="card-deck">
                        <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r16mech" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>MECH
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3> 
                                </div>
                            </a>
                        </div>
                        <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r16civil" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>CIVIL
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3>
                                </div>
                            </a>
                        </div>
                        <!-- <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r16pet" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>PETROLEUM
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3>
                                </div>
                            </a>
                        </div> -->
                        <!-- <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r16mine" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>MINING
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3>
                                </div>
                            </a>
                        </div>
                    </div> -->
                    <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r16agri" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>AGRICULTURE
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3> 
                                </div>
                            </a>
                        </div>
                
            </div>
            <div class="container-fluid">
                    <!-- <div class="card-deck">
                        <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r16agri" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>AGRICULTURE
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3> 
                                </div>
                            </a>
                        </div>
                    </div> -->
    {% endblock %}