{% extends "layout.html" %}
    {% block content %}
    <div class="text-center mine1"><h3>R16-ECE</h3></div>
  <br>
  <div>
    <h4>Syllabus & Previous Question papers</h4>
    <br>
  </div>
  <div class="shadow-lg p-3 mb-5">
	<div class="card ">
  <div class="card-header"> 
    <ul class="nav nav-tabs card-header-tabs pull-right"  id="r16ece_years" role="tablist">
      <li class="nav-item">
       <a class="nav-link active" id="" data-toggle="tab" href="#r16ece_1styear" role="tab" aria-controls="home" aria-selected="true">1st Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r16ece_2ndyear" role="tab" aria-controls="profile" aria-selected="false">2nd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r16ece_3rdyear" role="tab" aria-controls="contact" aria-selected="false">3rd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r16ece_4thyear" role="tab" aria-controls="contact" aria-selected="false">4th Year</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
   <div class="tab-content" id="r16ece_years_Content">
    
    <div class="tab-pane fade show active" id="r16ece_1styear" role="tabpanel" aria-labelledby="r16ece_1styear">
      <h5>&nbsp1-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH - I</td>
        <td><a href="https://drive.google.com/open?id=1wsERQ2i0FNWgZTknKTpX9fAVIxIcHXIS" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1AJ4HYhfJrRix1GBQEksQBzgDsmzSWNsZ" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>MATHEMATICS-I</td>
        <td><a href="https://drive.google.com/open?id=1RvYOX956s_6w7JkpBmYRwrFD_K6dkemp"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1BmfYjIdf2o57frTf8vn0NLvvzYwpAJy5" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>MATHEMATICS-II (Numerical Methods and Complex Variables)</td>
        
        <td><a href="https://drive.google.com/open?id=1CbRhwY6StdkW_tZxZJwGrLb9lqARSeOi" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1mq46x1JAON1rB_Zy1ydd4gYea1FMBik_" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>APPLIED PHYSICS</td>
        
        <td><a href="https://drive.google.com/open?id=1-LRnaARS9Q5TGqiQnsjKGL4I-mdWHJtB" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1JS4fDczm6dwY36ykGfcp3u7sGPeVAbm5" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>COMPUTER PROGRAMMING</td>
        
        <td><a href="https://drive.google.com/open?id=1oJmM-CVEpqQYsrH6rEEn7nULDwVn9pbq" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=10q56LuD2LaVNnmoNhoQCJZEoVym1e4R7" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>ENGINEERING DRAWING</td>
        <td><a href="https://drive.google.com/open?id=1KONYT_pfHYUeS6GkCBeHgkI8f7d7BGUL" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1gJ4ecWwf1VfnhFpq6UTSnS0xpz94WS1C" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>ENGLISH - COMMUNICATION SKILLS LAB- 1</td>
        
        <td><a href="https://drive.google.com/open?id=1tgysrBojn7FP6Xox1N3R9GgDzb6I0pP8" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>APPLIED / ENGINEERING PHYSICS LAB</td>
        
        <td><a href="https://drive.google.com/open?id=19nm7zTef3v1TOse66ntyYcdAC_qSzNij" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>ENGINEERING WORKSHOP & IT WORKSHOP</td>
        <td><a href="https://drive.google.com/open?id=1LN04FMi_33RO-dHvPQYu2skUUv4iv_UU" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a ><font >download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
    </tbody>
  </table>
  <h5>&nbsp1-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH -II</td>
        <td><a href="https://drive.google.com/open?id=1-B8DKf2urOBILFzJPi5sjgFhb4xfwPm-" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1LusOboNpC8uB12_XX6Yxa3zISa295HUI" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>MATHEMATICS-III</td>
        <td><a href="https://drive.google.com/open?id=1n186AhWWAg3AR7NWA8VhDjlpDqddRy20" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=17cBwOOPyrxQ_eISrn9TxTDiPSIpeoUwu" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>APPLIED CHEMISTRY</td>
        <td><a href="https://drive.google.com/open?id=1c8SYdgPZgaeDKvm53COKJ31cNYK6nV4m" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1MrBwurGRzoSlwBJ_YLWYW9sQNNxteKfA" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>ELECTRICAL & MECHANICAL TECHNOLOGY</td>
        <td><a href="https://drive.google.com/open?id=1sC7oK1ZN6aQxSSItJx7rzNX8rfeax-XE" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=18hiOrkrS9sl9WN-zQ4KRFRwbEmBj0kmg" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>ENVIRONMENTAL STUDIES</td>
        <td><a href="https://drive.google.com/open?id=1mW6Qvg0HVUYLRPbVIFc9okHXkOl6btdE" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1EucdsJxJNmUGGfsP9btLDZgbJctGkV7o" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>DATA STRUCTURES</td>
        <td><a href="https://drive.google.com/open?id=1WzrtaK2wYoCEtsgzKv2IfK23ejCK2FBo" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1WKa3BoHGVO5hdaRWyenNGO8bQs1cZ0NO" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>APPLIED/ENGINEERING CHEMISTRY LABORATORY</td>
        <td><a href="https://drive.google.com/open?id=1g1y8jQFYg1ldmswrzrL_kAQ_GHHIhpBM" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a ><font >download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>ENGLISH - COMMUNICATION SKILLS LAB - 2</td>
        <td><a href="https://drive.google.com/open?id=1iOfGe7cEZYdpVwkMk24pzX794XefTo1F" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a ><font >download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>COMPUTER PROGRAMMING LAB</td>
        <td><a href="https://drive.google.com/open?id=1pYouT7ia-R0U2oC5QEd3upEZ8ualU559" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a ><font >download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
    </tbody>
  </table>

    </div>
    
    <div class="tab-pane fade" id="r16ece_2ndyear" role="tabpanel" aria-labelledby="r16ece_2ndyear">
    <h5>&nbsp2-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Electronic Devices and Circuits</td>
        <td><a href="https://drive.google.com/open?id=1Sz0Oetle0RdT6vH_Y1zWZ3LfZvDlWOms" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1gAk-6-pbmkT-6WI3Xff9-Mo2u2gTsaOL" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Switching Theory and Logic Design</td>
        <td><a href="https://drive.google.com/open?id=11DGPqb0oxL1vhw3_yajm-B1LTOBnBL08" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1QPPUWht_--vv6FlmwfdKMR38SFvSLkl8" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Signals and Systems</td>
        <td><a href="https://drive.google.com/open?id=1ooFxc2aC_93HcTm7S5xtQTJSvO1TcWff" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1S5RijmFaGQrehEHW5MrnValBn1H9vCfT" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Network Analysis</td>
        <td><a href="https://drive.google.com/open?id=1Bg3kwaqb6DJKxu9uH9hEzHSp31MhN4MY" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=178S3xO7O_V1idaVcSbont4mGrRp8LgzK" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Random Variables and Stochastic Process</td>
        <td><a href="https://drive.google.com/open?id=1w28JJEujNIcEn8AH8_Av8PLCboDbanyz" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1utJw2yxBLGZp-EqolU_q0J4-LkAp-NJ1" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Managerial Economics & Financial Analysis</td>
        <td><a href="https://drive.google.com/open?id=1xXnNmdzvAlYXFsiZcnRZcJk2ArTrXELM" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1ZZnViFD2ObdiGxFAQ_-wZgNujuXDtbeM" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>

      <tr>
        <td>Electronic Devices and Circuits Lab</td>
        
        <td><a href="https://drive.google.com/open?id=1B9LO6fRjXg2yfilbB8ptPrZIEjoZHdOi" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1EWUt3yVJR5154tQxcy4Ilz0OQqnLlPk3" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>Networks & Electrical Technology Lab</td>
        <td><a href="https://drive.google.com/open?id=1uPveeiccqFtgtC9GAe8n1C8bd78h7fKG" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1vXpZDhgqFR3q_D3lFzxX7rdYyxPujs5u" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      
    </tbody>
  </table>
  <h5>&nbsp2-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Electronic Circuit Analysis</td>
        <td><a href="https://drive.google.com/open?id=1kQKKVv7VIdayFPbSJxnzLAEZxIQ2EYja" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1YBrIMS-raBIHAOmQXZei613a7XQOaPgS" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Control Systems</td>
        <td><a href="https://drive.google.com/open?id=1dJLBtr44QWOTsiTAJ_nNcDY8WGaCysRv" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=12xhXiOPkJGdG8-dU8AK9YRbc2awm4Gk6" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Electromagnetic Waves and Transmission Lines</td>
        <td><a href="https://drive.google.com/open?id=13M-sP9vJZXmtB1lrNi0by8HxFSJ_yY4-" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1I16LY3-78hw0V83ljzeva9EaHqkRtYUQ" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Analog Communications</td>
        <td><a href="https://drive.google.com/open?id=1nWXfYOtDpv1MUfOF9kOOxEFwrlDnJfh0" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1gBiE4sr8RbF00uV-leUnEmiWdMY8VGai" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Pulse and Digital Circuits</td>
        <td><a href="https://drive.google.com/open?id=1bFkXNEi2FI8f1BlAP5b6fqSt9JUBtzOE" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1yf1EMb74cLwkLt-wG_gAdv5asQmv3lP2" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Management Science</td>
        <td><a href="https://drive.google.com/open?id=1IWxfyPr4rLFYkzbEh3lM5qiPH1dc5QOe" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1B2rz4DFoSAGvIhlhtXGiy1l0vcyRbx2B" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Electronic Circuit Analysis Lab</td>
        <td><a href="https://drive.google.com/open?id=1ByLxyo1xPlT4q0HKCxqlsbhLxWtQ1OhW" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Analog Communications Lab</td>
        <td><a href="https://drive.google.com/open?id=14mjfEhts1cm8PJiP0ULYX5Nx4qtOZqoN" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>
    </div>
    
    <div class="tab-pane fade" id="r16ece_3rdyear" role="tabpanel" aria-labelledby="r16ece_3rdyear">
      <h5>&nbsp3-1</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Computer Architecture and Organization</td>
        <td><a href="https://drive.google.com/open?id=1qY-iew7wNMDo9ugnZOr9KDDa0dVEf83M" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1O8EDutqt7Llm9w_EuV-_g9FcX-elqhQK" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Linear I C Applications</td>
        <td><a href="https://drive.google.com/open?id=1N0u5S8oXL0ByIJac1ogy_Ehx2cTxK2fV" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1Gm8u6BGAPd_1SoVfJMXUK9wBJ4jRt_1V" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Digital I C Applications</td>
        <td><a href="https://drive.google.com/open?id=1ev-MTWlFkpGAoQf0pRWFEwnBsYDwNPSj" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1GaJkwpd6vS3CRttDJ2d92yScYd89bn3q" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Digital Communications</td>
        <td><a href="https://drive.google.com/open?id=1Etiupvy8bpsVaFZ4CIntt2C0XEz4imCs" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=17iFDskF0AKGYDfcktwUFFywYGN7_vtSl" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Antenna and Wave Propagation</td>
        <td><a href="https://drive.google.com/open?id=1KJiMr-yqaGfrqAU3udqhp7W92qJFW-dY" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=14q8072U3fWNXIrUMLUy8scodBS2B9wmf" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Pulse and Digital Circuits Lab</td>
        <td><a href="https://drive.google.com/open?id=1js8PSTBdwZ9QvorQexJRLsfL90ULSK_R" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Linear I C Applications Lab</td>
        <td><a href="https://drive.google.com/open?id=1c4W8_AA4ezbcSu9OfITniNcKU6-yQ6ua" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Digital I C Applications Lab</td>
        <td><a href="https://drive.google.com/open?id=1j28-pqAWrFzowlE_SefoUiXeJdbFHg8t" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>
  <h5>&nbsp3-2</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Micro Processors & Micro Controllers</td>
        <td><a href="https://drive.google.com/open?id=1zkTDscG-kxLHZ0rnmKHOMdEeJQ8QvfLI" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1bW48INJccNZnevC6ODiMNOIABZCyDc97" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Micro Wave Engineering</td>
        <td><a href="https://drive.google.com/open?id=1jYyfQ5pxSz_WR3QzD_0j6PECJQ8950fb" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1vOiRVcZ9Ln9SkZPw3EBE3DRg6hJL9VWH" target="_blank"><font color="blue">download</font></a></td>
        <td><a target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>VLSI Design</td>
        <td><a href="https://drive.google.com/open?id=1Rqr041fO_Em_rZI59faXMRLLuzfz7W6-" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1qprnA3OLDhNlpmbk3a1ay7VGcnGfQc5i" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Digital Signal Processing</td>
        <td><a href="https://drive.google.com/open?id=1H7-eZeMVHXTiUrRTVvEJFd3WFVBrnPUi" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=17jx-291sEzXA8A7Rb0xZeYeUC7YSlSdX" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>OOPs through Java</td>
        <td><a href="https://drive.google.com/open?id=1AdMJHWiJEsfXpDvgZK8J6LB5vXS3kOqX" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Data Mining</td>
        <td><a href="https://drive.google.com/open?id=1K6YF-mkdil4N_x3tWAf_b4QXROjll0cL" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Industrial Robotics</td>
        <td><a href="https://drive.google.com/open?id=1hXRGvJfEJ-gjoHs05V_klQ41xedPSQLY" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=1cSaDLigEVg5z3XVdm2PsP5N9TRhwlajX" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Power Electronics</td>
        <td><a href="https://drive.google.com/open?id=1RWGZfiVoh5nqXXmag3gffTHnneL6TqYa" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Bio-Medical Engineering</td>
        <td><a href="https://drive.google.com/open?id=1G2VX8Qjkg_PoCwwg1pH5jeZ1x9I6OCt0" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="https://drive.google.com/open?id=12iF0DUPv00bUeVBlPvNeoEuJOmMpLimq" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Artificial Neural Networks</td>
        <td><a href="https://drive.google.com/open?id=1dWR5s226XnPkIvLuwB_OgCBAY1db22So" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Micro Processors & Micro Controllers Lab</td>
        <td><a href="https://drive.google.com/open?id=1SlyyiUh_hppyaDX_f5EVOg0rX8irWZxC" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>VLSI Lab</td>
        <td><a href="https://drive.google.com/open?id=1zhtFVGCWnPeYYGlnj0Jo-ohDThv0GLGu" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Digital Communications Lab</td>
        <td><a href="https://drive.google.com/open?id=1rZqeD4FuMmOyTZp4hcMdz2bS8y6p3LxY" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>
    </div>
    
    <div class="tab-pane fade" id="r16ece_4thyear" role="tabpanel" aria-labelledby="r16ece_4thyear">
      <h5>&nbsp4-1</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Radar Systems</td>
        <td><a href="https://drive.google.com/open?id=1CkoMwdicLoRPCh6aM_AZzXTMmKH8j_pA" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Digital Image Processing</td>
        <td><a href="https://drive.google.com/open?id=1qH23sTyXxN4kaYqzR-E8U9QCnVJfsamX" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Computer Networks</td>
        <td><a href="https://drive.google.com/open?id=1vxngl8Y947wK_bSSe97qtbkf1YGFk9_S" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Optical Communications</td>
        <td><a href="https://drive.google.com/open?id=16_U6tc9zjDkFnW-rxXBG-Wb1c1QGj0Se" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>TV Engineering</td>
        <td><a href="https://drive.google.com/open?id=16FLvpy8lnZE8QwdJ71nBMhaUEqjGMz5d" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      
      <tr>
        <td>Electronic Switching Systems</td>
        <td><a href="https://drive.google.com/open?id=13HLSzzFWdDvG2yPjQmi1Hmt3KXaizenT" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>System Design through Verilog</td>
        <td><a href="https://drive.google.com/open?id=1HQAZ3kk4GVisGiuydhOfzGpQD7xexpa9" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Embedded Systems</td>
        <td><a href="https://drive.google.com/open?id=1KsXMm5IjCaqg2KsM4UZWvZKPecPDOdjw" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Analog IC Design</td>
        <td><a href="https://drive.google.com/open?id=1GA_U5rIBuksAvRa4d67wHIWFIt4_Bu0x" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Network Security & Cryptography</td>
        <td><a href="https://drive.google.com/open?id=1jWuJskOZN2Wd6iRmvztQyJHhg_pkVvyw" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Micro Wave Engineering & Optical Lab</td>
        <td><a href="https://drive.google.com/open?id=1LV-8obIUbax1IXZu4V-aTZSfwjvA8j0a" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Digital Signal Processing Lab</td>
        <td><a href="https://drive.google.com/open?id=1I5_X23YkGAckzkcY7kqte1Q5jNWPmkIH" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>
  <h5>&nbsp4-2</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cellular Mobile Communications</td>
        <td><a href="https://drive.google.com/open?id=1wYybvhIDUHLs1S-XEVNsOydd7w8UnASR" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Electronic Measurements and Instrumentation</td>
        <td><a href="https://drive.google.com/open?id=121H7drteUKcKKjB9sKaAi2mR6XmZXCG2" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Satellite Communications</td>
        
        <td><a href="https://drive.google.com/open?id=1eubK98emw6_FrWbvqowavTJQFjbaoUib" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Wireless sensors & Networks</td>
        <td><a href="https://drive.google.com/open?id=12FADnZxdT82yS-Cpu0jug3Zt1XXrwC8j" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Digital IC Design</td>
        <td><a href="https://drive.google.com/open?id=1pAxqNjFbil-izVd7Jf2KcqP_8Hkw3xrE" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Operating Systems</td>
        <td><a href="https://drive.google.com/open?id=1pdB6dNj2q2BHS1eZw_Qq5o7cC0zKG2kL" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      
    </tbody>
  </table>

    </div>
    </div>
  </div>
</div>
</div>

<div class="card shadow-lg p-3 mb-5">
    
      <big>R16-ECE-Complete-syllabus-book
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href="https://drive.google.com/open?id=1xL8ZZmPUydqsZKjheo0MDGzA5GSpilOF" target="_blank"><u>click here to download</u></a>
  </big>
  </div>




	{% endblock %}