{% extends "layout.html" %}
    {% block content %}
            <div class="text-center mine1"><h2>R19</h2></div>
            <br>
            <div id = "r10">
                <div class="container-fluid">
                    <div class="card-deck">
                        <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r19cse" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>CSE
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3> 
                                </div>
                            </a>
                        </div>
                        <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r19it" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>IT
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3>
                                </div>
                            </a>
                        </div>
                        <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r19ece" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>ECE
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3>
                                </div>
                            </a>
                        </div>
                        <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r19eee" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>EEE
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="card-deck">
                        <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r19mech" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>MECH
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3> 
                                </div>
                            </a>
                        </div>
                        <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r19civil" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>CIVIL
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3>
                                </div>
                            </a>
                        </div>
                        <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r19pet" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>PETROLEUM
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3>
                                </div>
                            </a>
                        </div>
                        <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r19mine" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>MINING
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3>
                                </div>
                            </a>
                        </div>
                    </div>
                
            </div>
            <div class="container-fluid">
                    <div class="card-deck">
                        <div class="card shadow-lg p-3 mb-5 rounded">
                            <a href="r19agri" class="">
                                <div class="text-center">
                                    <br>
                                    <br>
                                    <br>
                                    <h3>AGRICULTURE
                                        <div class="card-body text-center">
                                          <br>    
                                           <br>
                                        </div></h3> 
                                </div>
                            </a>
                        </div>
                    </div>
    {% endblock %}