{% extends "layout.html" %}
    {% block content %}

    <div class="text-center mine1"><h3>R13-AGRICULTURE</h3></div>
	<div class="card ">
  <div class="card-header"> 
    <ul class="nav nav-tabs card-header-tabs pull-right"  id="r13agri_years" role="tablist">
      <li class="nav-item">
       <a class="nav-link active" id="" data-toggle="tab" href="#r13agri_1styear" role="tab" aria-controls="home" aria-selected="true">1st Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r13agri_2ndyear" role="tab" aria-controls="profile" aria-selected="false">2nd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r13agri_3rdyear" role="tab" aria-controls="contact" aria-selected="false">3rd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r13agri_4thyear" role="tab" aria-controls="contact" aria-selected="false">4th Year</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
   <div class="tab-content" id="r13agri_years_Content">
    
    <div class="tab-pane fade show active" id="r13agri_1styear" role="tabpanel" aria-labelledby="r13agri_1styear">
              <h5>&nbsp1-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH - I</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MATHEMATICS-I</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MATHEMATICS 2</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING PHYSICS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENVIRONMENTAL STUDIES</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING DRAWING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGLISH - COMMUNICATION SKILLS LAB- 1</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>APPLIED / ENGINEERING PHYSICS LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING & IT WORKSHOP</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
    </tbody>
  </table>
  <h5>&nbsp1-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH -II</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MATHEMATICS-III</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING CHEMISTRY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING MECHANICS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>PRINCIPLES OF SOIL SCIENCE & AGRONOMY </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTER PROGRAMMING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>APPLIED/ENGINEERING CHEMISTRY LABORATORY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGLISH - COMMUNICATION SKILLS LAB - 2</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>C PROGRAMMING LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
    </tbody>
  </table>

    </div>

    <div class="tab-pane fade" id="r13agri_2ndyear" role="tabpanel" aria-labelledby="r13agri_2ndyear">
           <h5>&nbsp2-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>FLUID MECHANICS AND OPEN CHANNEL HYDRAULICS </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>RENEWABLE ENERGY SOURCES</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>GROUND WATER HYDROLOGY, WELL AND PUMPS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>PROPERTIESAND STRENGTH OF MATERIALS </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ELECTRICAL SYSTEMS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>SURVEYING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>

      <tr>
        <td>FLUID MECHANICS AND OPEN CHANNEL HYDRAULICS LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>SURVEYING LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      
    </tbody>
  </table>
  <h5>&nbsp2-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>THEORY OF STRUCTURES</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>HEAT AND MASS TRANSFER</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>THEORY OF MACHINES</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>SOIL MECHANICS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>SURFACE WATER HYDROLOGY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>FARM POWER AND TRACTOR SYSTEMS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>SOIL SCIENCE AND AGRONOMY FIELD LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MACHINE DRAWING AND COMPUTER GRAPHICS LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
    </tbody>
  </table>      
    </div>

    <div class="tab-pane fade" id="r13agri_3rdyear" role="tabpanel" aria-labelledby="r13agri_3rdyear">
                          <h5>&nbsp3-1</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>THERMODYNAMICS AND REFRIGERATION SYSTEMS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>SOIL AND WATER CONSERVATION ENGINEERING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>AGGRICULTURE PROCESS ENGINEERING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING PROPERTIES OF BIOLOGICAL MATERIALS AND FOOD QUALITY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MANAGERAL ECONOMICS ANF FINANCIAL ANALYSIS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ADVANCED ENGLISH COMMUNICATION SKILLS LAB </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>FIELD OPERATION AND MAINTAINANCE OF TRACTORS LAB 1</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      
    </tbody>
  </table>
  <h5>&nbsp3-2</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>IRRIGATION AND DRAINAGE ENGINEERING </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>FARM MACHINERY AND EQUIPMENT 1</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>DESIGN OF SOIL, WATER CONSERVATION AND FARM STRUCTURES </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>DAIRY AND FOOD ENGINEERING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>OPERATIONS RESEARCH</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>DIGITAL CONTROL SYSTEMS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ROBOTICS AND AUTOMATION </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>INDUSTRIAL POLLUTION CONTROL ENGINEERING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>FINITE ELEMENT METHOD </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>WATER RESOURCES SYSTEM PLANNING AND MANAGEMENT</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>FARM MACHINERY LAB 1</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>FIELD OPERATION AND MAINTANENCE OF TRACTORS LAB 2</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>SOIL AND WATER ENGINEERING LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
    </tbody>
  </table>
    </div>

    <div class="tab-pane fade" id="r13agri_4thyear" role="tabpanel" aria-labelledby="r13agri_4thyear">
                     <h5>&nbsp4-1</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>MICRO IRRIGATION ENGINEERING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>FARM MACHINERY AND EQUIPMENTS 2</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>POST HARVEST ENGINEERING FOR HORTICULTURE PRODUCE </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MECHANICAL MEASUREMENTS AND INSTRUMENTATION</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>SEED PROCESSING AND STROGGE ENGINEERING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>GREEN HOUSE TECHNOLOGIES </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>FOOD PROCESSING PLANT DESIGN AND LAYOUT </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>WATERSHED MANAGEMENT</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>FOOD PACKAGING TECHNOLOGY </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MINOR IRRIGATION AND COMMAND AREA DEVELOPMENT</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>FARM MACHINERY LAB 2</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>DAIRY AND FOOD ENGINEERING LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      
    </tbody>
  </table>
  <h5>&nbsp4-2</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>DESIGN OF AGRICULTURE MACHINERY </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>AGRICULTURE EXTENTION TECHNIQUES AND BUSINESS MANAGEMENT</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>AGRO INDUSTRIES AND BI-PRODUCT UTILIZATION</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>GIS AND REMOTE SENSING </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>HUMAN ENGINEERING AND SAFTEY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>PRODUCTION TECHNOLOGY OF AGRICULTURAL MACHINERY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      
    </tbody>
  </table>
    </div>
  </div>
  </div>
</div>
<div class="card shadow-lg p-3 mb-5">
    
      <big>R13-AGGRICULTURE-Complete-syllabus-book
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href=""><u>click here to download</u></a>
  </big>
  </div>


	{% endblock %}