{% extends "layout.html" %}
    {% block content %}

    <div class="text-center mine1"><h3>R13-CIVIL</h3></div>
     <br>
  <div>
    <h4>Syllabus & Previous Question papers</h4>
    <br>
  </div>
  <div class="shadow-lg p-3 mb-5">
  <div class="card ">
  <div class="card-header"> 
    <ul class="nav nav-tabs card-header-tabs pull-right"  id="r13civil_years" role="tablist">
      <li class="nav-item">
       <a class="nav-link active" id="" data-toggle="tab" href="#r13civil_1styear" role="tab" aria-controls="home" aria-selected="true">1st Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r13civil_2ndyear" role="tab" aria-controls="profile" aria-selected="false">2nd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r13civil_3rdyear" role="tab" aria-controls="contact" aria-selected="false">3rd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r13civil_4thyear" role="tab" aria-controls="contact" aria-selected="false">4th Year</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="r13civil_years_Content">
      <div class="tab-pane fade show active" id="r13civil_1styear" role="tabpanel" aria-labelledby="r13civil_1styear">
      <h5>&nbsp1-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH - I</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MATHEMATICS-I</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING CHEMISTRY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING MECHANICS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTER PROGRAMMING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENVIRONMENTAL STUDIES</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGLISH - COMMUNICATION SKILLS LAB- 1</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>APPLIED / ENGINEERING CHEMISTRY LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTER PROGRAMMING LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
    </tbody>
  </table>
  <h5>&nbsp1-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH -II</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MATHEMATICS-II</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MATHEMATICS-III</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING PHYSICS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ELEMENTS OF MECHANICAL ENGINEERING </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING DRAWING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>APPLIED/ENGINEERING PHYSICS LABORATORY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGLISH - COMMUNICATION SKILLS LAB - 2</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING WORKSHOP AND IT WORKSHOP</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
    </tbody>
  </table>


      </div>
      
      <div class="tab-pane fade" id="r13civil_2ndyear" role="tabpanel" aria-labelledby="r13civil_2ndyear">
           <h5>&nbsp2-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>PROBABILITY AND STATISTICS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>BASIC ELECRICAL AND ELECTRONICS ENGINEERING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>STRENGTH OF MATERIALS 1</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>BUILDING MATERIALS & CONSTRUCTION</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>SURVEYING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>FLUID MACHANICS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>

      <tr>
        <td>SURVEY FIELD WORK 1</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>STRENGTH OF MATERIALS LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      
    </tbody>
  </table>
  <h5>&nbsp2-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>BUILDING PLANNING & DRAWING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>STRENGTH OF MATERIALS 2</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>HYDRAULICS & HYDRAULIC MACHINERY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>CONCRETE TEVHNOLOGY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>STRUCTIORAL ANALYSIS 1</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>TRANSPORTATION ENGINEERING 1</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>FM & HM LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>SURVEY FIELD WORK 2</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
    </tbody>
  </table>


      </div>
      
      <div class="tab-pane fade" id="r13civil_3rdyear" role="tabpanel" aria-labelledby="r13civil_3rdyear">
           <h5>&nbsp3-1</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>MANAGEMENT SCIENCE</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING GEOLOGY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>STRUCTIORAL ANALYSIS 2</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>DESIGN AND DRAWING OF REINFORCED CONCRETE STRUCTURES</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>TRANSPORTATION ENGINEERING 2</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>CONCRETE TECHNOLOGY LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>GEOLOGY LAB </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>TRANSPORTATION ENGINEERING LAB </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
    </tbody>
  </table>
  <h5>&nbsp3-2</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>DESIGN AND DRAQWING OF STEEL STRUCTURES </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>GEO TECHNICAL ENGINEERING 1</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENVIRONMENTAL ENGINEERING 1</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>WATER RESOURCE ENGINEERING 1</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ELECTRONIC INSTRUMENTATION</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>DATA BASE MANAGEMENT SYSTEMS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ALTERNATIVE ENERGY SOURCES</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>WASTE WATER MANAGEMENT</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>FUNDAMENTALS OF LIQUEFIED NATURAL GAS </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>GREEN FUEL TECHNOLOGIES</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>GEOTECHNICAL ENGINEERING LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENVIRONMENTAL ENGINEERING LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTER AIDED ENGINEERING LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
    </tbody>
  </table>


      </div>
      
      <div class="tab-pane fade" id="r13civil_4thyear" role="tabpanel" aria-labelledby="r13civil_4thyear">
        

          <h5>&nbsp4-1</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENVIRONMENTAL ENGINEERING 2</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>WATER RESOURCE ENGINEERING 2</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>GEOTECHNICAL ENGINEERING 2 </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>REMOTE SENSING & GIS APPLICATIONS </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>FINITE ELEMENT ANALYSIS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>GROUND IMPROVEMENT TECHNIQUES</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>AIR POLLUTION & CONTROL</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>URBAN HYDROLOGY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>TRAFFIC ENGINEERING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ADVANCED STRUCTURAL ENGINEERING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ADVANCED FOUNDATION ENGINEERING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENVIRONMENTAL IMPACT ASSESMENT & MANAGEMENT</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>GROUND WATER DEVELOPMENT</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>PAVMENT ANALYSIS AND DESIGN</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>GIS & CAD LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>IRRIGATION DESIGN & DRAWING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
    </tbody>
  </table>
  <h5>&nbsp4-2</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ESTIMATION SPECIFICATION & CONTRACTS </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>CONSTRUCTION TECHNOLOGY & MANAGEMENT </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>PRESTRESSED CONCRETE</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>BRIDGE ENGINEERING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>SOIL DYNAMICS AND FOUNDATION</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>SOLID AND HAZARDOUS WASTE MANAGEMENT</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
            <tr>
        <td>WATER RESOURCE SYSTEMS PLANNING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>URBAN TRANSPORTATION PLANNING ENGINEERING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      
    </tbody>
  </table>

      </div>
    </div>
  </div>
</div>
</div>
<div class="card shadow-lg p-3 mb-5">
    
      <big>R13-CIVIL-Complete-syllabus-book
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href=""><u>click here to download</u></a>
  </big>
  </div>



  {% endblock %}