{% extends "layout.html" %}
    {% block content %}

    <div class="text-center mine1"><h3>R13-MECH</h3></div>
     <br>
  <div>
    <h4>Syllabus & Previous Question papers</h4>
    <br>
  </div>
  <div class="shadow-lg p-3 mb-5">
  <div class="card ">
  <div class="card-header"> 
    <ul class="nav nav-tabs card-header-tabs pull-right"  id="r13mech_years" role="tablist">
      <li class="nav-item">
       <a class="nav-link active" id="" data-toggle="tab" href="#r13mech_1styear" role="tab" aria-controls="home" aria-selected="true">1st Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r13mech_2ndyear" role="tab" aria-controls="profile" aria-selected="false">2nd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r13mech_3rdyear" role="tab" aria-controls="contact" aria-selected="false">3rd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r13mech_4thyear" role="tab" aria-controls="contact" aria-selected="false">4th Year</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="r13mech_years_Content">
      <div class="tab-pane fade show active" id="r13mech_1styear" role="tabpanel" aria-labelledby="r13mech_1styear">
              <h5>&nbsp1-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH - I</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>MATHEMATICS-I</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING CHEMISTRY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING MECHANICS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTER PROGRAMMING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENVIRONMENTAL STUDIES</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGLISH - COMMUNICATION SKILLS LAB- 1</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>APPLIED / ENGINEERING CHEMISTRY LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTER PROGRAMMING LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
    </tbody>
  </table>
  <h5>&nbsp1-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH -II</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MATHEMATICS-II</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MATHEMATICS-III</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING PHYSICS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>BASIC ELECTRICAL AND ELECTRONIC ENGINEERING </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING DRAWING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>APPLIED/ENGINEERING PHYSICS LABORATORY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGLISH - COMMUNICATION SKILLS LAB - 2</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING WORKSHOP AND IT WORKSHOP</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
    </tbody>
  </table>

      </div>
      
      <div class="tab-pane fade" id="r13mech_2ndyear" role="tabpanel" aria-labelledby="r13mech_2ndyear">
            <h5>&nbsp2-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>METALLURGY & METERIAL SCIENCE </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MECHANICS OF SOLIDS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>THERMODYNAMICS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>Managerial Economics & Financial Analysis</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>FLUID MECHANICS & HYDRAULIC MECHANICS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTER AIDED ENGINEERING DRAWING </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>

      <tr>
        <td>ELECTRICAL AND ELECTRONIC ENGG. LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MECHANICS OS SOLID & METALLURGY LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      
    </tbody>
  </table>
  <h5>&nbsp2-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>KINAMATICS OF MACHINERY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>THERMAL ENGINEERING 1</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>PRODUCTION TECHNOLOGY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>DESIGN OF MACHINE MEMBERS 1</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MACHINE DRAWING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>INDUSTRIAL ENGINEERING AND MANAGEMENT</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>FLUID MECHANICS AND HYDRAULIC MACHINES LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>PRODUCTION TECHNOLOGY LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
    </tbody>
  </table>


      </div>
      
      <div class="tab-pane fade" id="r13mech_3rdyear" role="tabpanel" aria-labelledby="r13mech_3rdyear">
            <h5>&nbsp3-1</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>DYNAMICS OF MACHINERY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>METAL CUTTING & MACHINE MEMBERS 2</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>OPERATIONS RESEARCH</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>THERMAL ENGINEERING 2</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>THEORY OF MACHINES LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MACHINE TOOLS LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>THERMAL ENGINEERING LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      
    </tbody>
  </table>
  <h5>&nbsp3-2</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>METROLOGY</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>INSTRUMENTATION & CONTROL SYSTEMS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>REFRIGERATION AND AIR-CONDITIONING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>HEAT TRANSFER</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENTERPRENEURSHIP</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>DATABASE MANAGEMENT SYSTEMS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>WATER WASTE MANAGEMENT </td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTER GRAPHICS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>INDUSTRIAL ROBOTICS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>GREEN ENGINEERING SYSTEMS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>HEAT TRANSFER LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>METROLOGY AND INSTRUMENTATION LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTATIONAL FLUID DYNAMINS LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
    </tbody>
  </table>


      </div>
      
      <div class="tab-pane fade" id="r13mech_4thyear" role="tabpanel" aria-labelledby="r13mech_4thyear">
           <h5>&nbsp4-1</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>MECHATRONICS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>CAD / CAM</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>FINITE ELEMENT METHODS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>POWER PLANT ENGINEERING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTATIONAL FLUID DYNAMICS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>CONDITIONAL MONITORING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ADDITIVE MANUFRACTURING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ADVANCED MATERIALS</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>DESIGN FOR MANUFRACTURE</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>GAS DYNAMICS & JET PROPULSION</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>CAD / CAM LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MECHATROMICS LAB</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      
    </tbody>
  </table>
  <h5>&nbsp4-2</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>PRODUCTION PLANNING AND CONTROL</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>UNCONVENTIONAL MACHINING PROCESSES</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>AUTOMOBILE ENGINEERING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>THERMAL EQUIPMENT DESIGN</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>NON DISTRUCTIVE EVELUATION</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>QUALITY AND RELIABILITY ENGINEERING</td>
                <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>

      </tr>
      
    </tbody>
  </table>

      </div>
    </div>
  </div>
</div>
</div>
<div class="card shadow-lg p-3 mb-5">
    
      <big>R13-MECHANICAL-Complete-syllabus-book
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href=""><u>click here to download</u></a>
  </big>
  </div>


  {% endblock %}