{% extends "layout.html" %}
    {% block content %}

    <div class="text-center mine1"><h3>R10-CSE</h3></div>
     <br>
  <div>
    <h4>Syllabus & Previous Question papers</h4>
    <br>
  </div>
  <div class="shadow-lg p-3 mb-5">
  <div class="card ">
  <div class="card-header"> 
    <ul class="nav nav-tabs card-header-tabs pull-right"  id="r10cse_years" role="tablist">
      <li class="nav-item">
       <a class="nav-link active" id="" data-toggle="tab" href="#r10sce_1styear" role="tab" aria-controls="home" aria-selected="true">1st Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r10cse_2ndyear" role="tab" aria-controls="profile" aria-selected="false">2nd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r10cse_3rdyear" role="tab" aria-controls="contact" aria-selected="false">3rd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r10cse_4thyear" role="tab" aria-controls="contact" aria-selected="false">4th Year</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
   <div class="tab-content" id="r10cse_years_Content">
      <div class="tab-pane fade show active" id="r10cse_1styear" role="tabpanel" aria-labelledby="r10cse_1styear">

        <h5>&nbsp1-1</h5>
      <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Syllabus</th>
          <th>Question Papers</th>
          <th>Materials</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <td>ENGLISH - I</td>
            <td><a href=""  target='_blank'><font color="blue">download</font></a></td>
            <td><a href=""><font color="blue">download</font></a></td>
            <td><a  target="_blank" ><font>download</font></a></td>
          </tr>
          <tr>
            <td>MATHEMATICS-I</td>
            <td><a href=""><font color="blue">download</font></a></td>
            <td><a href="" target="_blank"><font color="blue">download</font></a></td>
            <td><a ><font >download</font></a></td>
          </tr>
          <tr>
            <td>MATHEMATICS-II (Numerical Methods and Complex Variables)</td>
            <td><a href="" target="_blank"><font color="blue">download</font></a></td>
            <td><a href="" target="_blank"><font color="blue">download</font></a></td>
            <td><a  ><font >download</font></a></td>
          </tr>
          <tr>
            <td>APPLIED PHYSICS</td>
            <td><a href="" target="_blank"><font color="blue">download</font></a></td>
            <td><a href="" target="_blank"><font color="blue">download</font></a></td>
            <td><a ><font >download</font></a></td>
          </tr>
          <tr>
            <td>COMPUTER PROGRAMMING</td>
            <td><a href="" target="_blank"><font color="blue">download</font></a></td>
            <td><a href="" target="_blank"><font color="blue">download</font></a></td>
            <td><a  target="_blank"><font >download</font></a></td>
          </tr>
          <tr>
            <td>ENGINEERING DRAWING</td>
            <td><a href="" target="_blank"><font color="blue">download</font></a></td>
            <td><a href="" target="_blank"><font color="blue">download</font></a></td>
            <td><a  target="_blank"><font >download</font></a></td>
          </tr>
          <tr>
            <td>ENGLISH - COMMUNICATION SKILLS LAB- 1</td>
            <td><a href="" target="_blank"><font color="blue">download</font></a></td>
            <td><a  target="_blank"><font >download</font></a></td>
            <td><a  target="_blank"><font >download</font></a></td>
          </tr>
          <tr>
            <td>APPLIED / ENGINEERING PHYSICS LAB</td>
            <td><a href="" target="_blank"><font color="blue">download</font></a></td>
            <td><a  target="_blank"><font >download</font></a></td>
            <td><a  target="_blank"><font >download</font></a></td>
          </tr>
          <tr>
            <td>COMPUTER PROGRAMMING LAB</td>
            <td><a href="" target="_blank"><font color="blue">download</font></a></td>
            <td><a  target="_blank"><font >download</font></a></td>
            <td><a  target="_blank"><font >download</font></a></td>
          </tr>
        </tbody>
      </table>

      <h5>&nbsp1-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH -II</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>MATHEMATICS-III</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>APPLIED CHEMISTRY</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>OBJECT ORIENTED PROGRAMING THROUGH C++</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>ENVIRONMENTAL STUDIES</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>ENGINEERING MECHANICS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>APPLIED/ENGINEERING CHEMISTRY LABORATORY</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>ENGLISH - COMMUNICATION SKILLS LAB - 2</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>OBJECT ORIENTED PROGRAMMING LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>



    </div>


      <div class="tab-pane fade" id="r10cse_2ndyear" role="tabpanel" aria-labelledby="r10cse_2ndyear">

  <h5>&nbsp2-1</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>STATISTICS WITH R PROGRAMMING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>MATHEMATICAL FOUNDATIONS OF COMPUTER SCIENCE</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DIGITAL LOGIC DESIGN</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>PYTHON PROGRAMMING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DATA STRUCTURES THROUGH C++</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>COMPUTER GRAPHICS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DATA STRUCTURES THROUGH C++ LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>PYTHON PROGRAMMING LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>


  <h5>&nbsp2-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>SOFTWARE ENGINEERING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>JAVA PROGRAMMING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>ADVANCED DATA STRUCTURES</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>COMPUTER ORGANIZATION</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>FORMAL LANGUAGES AND AUTOMETA THEORY</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>PRINCIPLES OF PROGRAMMING LANGUAGES</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>ADVANCED DATA STRUCTURES LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>JAVA PROGRAMMING LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>

      </div>
  
      <div class="tab-pane fade" id="r10cse_3rdyear" role="tabpanel" aria-labelledby="r10cse_3rdyear">
         <h5>&nbsp3-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>COMPILER DESIGN</td>
        <td><a href=h" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>UNIX PROGRAMMNIG</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>OBJECT ORIENTED ANALYSIS AND DESIGN USING UML</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DATABASE MANAGEMENT SYSTEMS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>OPERATING SYSTEMS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>UNIFIED MODELING LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>OPERATING SYSTEMS AND LINUX PROGRAMMNIG LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DATABASE MANAGEMENT SYSTEM LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      
    </tbody>
  </table>

     <h5>&nbsp3-2</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>COMPUTER NETWORKS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DATA WAREHOUSING AND MINING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DESIGN AND ANALYSIS OF ALGORITHMS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>SOFTWARE TESTING METHODOLOGIES</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>ARTIFICIAL INTELIGENCE</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>INTERNET OF THINGS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>CYBER SECURITY</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DIGITAL SIGNAL PROCESSING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>EMBBEDED SYSTEMS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>ROBOTICS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>NETWORK PROGRAMMING LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>SOFTWARE TESTING LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DATA WAREHOUSING AND MINING LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>IPR AND PATENTS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>

      </div>
    
      <div class="tab-pane fade" id="r10cse_4thyear" role="tabpanel" aria-labelledby="r10cse_4thyear">

        <h5>&nbsp4-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CRYPTOGRAPHY AND NETWORK SECURITY</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>SOFTWARE ARCHITECTURE AND DESIGN PATTERNS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>WEB TECHNOLOGIES</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>MANAGERIAL ECONOMICS AND FINANCIAL ANALYSIS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>BIG DATA ANALYTICS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>INFORMATION RETRIEVAL SYSTEMS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>

      <tr>
        <td>MOBILE COMPUTING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>SCRIPTING LANGUAGES</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>SOFTWARE ARCHITECTURE AND DESIGN PATTERNS LAB </td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>WEB TECHNOLOGIES LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>

  <h5>&nbsp4-2</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>DISTRIBUTED SYSTEMS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>MANAGEMENT SCIENCE</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>MACHINE LEARNING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>CONCURRENT AND PARALLEL PROGRAMMING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font>download</font></a></td>
      </tr>
      <tr>
        <td>ARTIFICIAL NEURAL NETWORKS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>OPERATIONS RESEARCH</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>

      
      
    </tbody>
  </table>
      </div>
    
    </div>
  </div>
</div>
</div>
<div class="card shadow-lg p-3 mb-5">
    
      <big>R10-CSE-Complete-syllabus-book
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href="" target="_blank"><u>click here to download</u></a>
  </big>
  </div>


  {% endblock %}