{% extends "layout.html" %}
    {% block content %}
    <div class="text-center mine1"><h3>R10-ECE</h3></div>
  <br>
  <div>
    <h4>Syllabus & Previous Question papers</h4>
    <br>
  </div>
  <div class="shadow-lg p-3 mb-5">
  <div class="card ">
  <div class="card-header"> 
    <ul class="nav nav-tabs card-header-tabs pull-right"  id="r10ece_years" role="tablist">
      <li class="nav-item">
       <a class="nav-link active" id="" data-toggle="tab" href="#r10ece_1styear" role="tab" aria-controls="home" aria-selected="true">1st Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r10ece_2ndyear" role="tab" aria-controls="profile" aria-selected="false">2nd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r10ece_3rdyear" role="tab" aria-controls="contact" aria-selected="false">3rd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r10ece_4thyear" role="tab" aria-controls="contact" aria-selected="false">4th Year</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
   <div class="tab-content" id="r10ece_years_Content">
    
    <div class="tab-pane fade show active" id="r10ece_1styear" role="tabpanel" aria-labelledby="r10ece_1styear">
      <h5>&nbsp1-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH - I</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>MATHEMATICS-I</td>
        <td><a href=""><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>MATHEMATICS-II (Numerical Methods and Complex Variables)</td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>APPLIED PHYSICS</td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>COMPUTER PROGRAMMING</td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>ENGINEERING DRAWING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>ENGLISH - COMMUNICATION SKILLS LAB- 1</td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>APPLIED / ENGINEERING PHYSICS LAB</td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>ENGINEERING WORKSHOP & IT WORKSHOP</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a ><font >download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
    </tbody>
  </table>
  <h5>&nbsp1-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH -II</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>MATHEMATICS-III</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>APPLIED CHEMISTRY</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>ELECTRICAL & MECHANICAL TECHNOLOGY</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>ENVIRONMENTAL STUDIES</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>DATA STRUCTURES</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>APPLIED/ENGINEERING CHEMISTRY LABORATORY</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a ><font >download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>ENGLISH - COMMUNICATION SKILLS LAB - 2</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a ><font >download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
      <tr>
        <td>COMPUTER PROGRAMMING LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a ><font >download</font></a></td>
        <td><a ><font >download</font></a></td>
      </tr>
    </tbody>
  </table>

    </div>
    
    <div class="tab-pane fade" id="r10ece_2ndyear" role="tabpanel" aria-labelledby="r10ece_2ndyear">
    <h5>&nbsp2-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Electronic Devices and Circuits</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Switching Theory and Logic Design</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Signals and Systems</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Network Analysis</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Random Variables and Stochastic Process</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Managerial Economics & Financial Analysis</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>

      <tr>
        <td>Electronic Devices and Circuits Lab</td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>Networks & Electrical Technology Lab</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      
    </tbody>
  </table>
  <h5>&nbsp2-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Electronic Circuit Analysis</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Control Systems</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Electromagnetic Waves and Transmission Lines</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Analog Communications</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Pulse and Digital Circuits</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Management Science</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Electronic Circuit Analysis Lab</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Analog Communications Lab</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>
    </div>
    
    <div class="tab-pane fade" id="r10ece_3rdyear" role="tabpanel" aria-labelledby="r10ece_3rdyear">
      <h5>&nbsp3-1</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Computer Architecture and Organization</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Linear I C Applications</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Digital I C Applications</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Digital Communications</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Antenna and Wave Propagation</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Pulse and Digital Circuits Lab</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Linear I C Applications Lab</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Digital I C Applications Lab</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>
  <h5>&nbsp3-2</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Micro Processors & Micro Controllers</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Micro Wave Engineering</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>VLSI Design</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Digital Signal Processing</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>OOPs through Java</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Data Mining</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Industrial Robotics</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Power Electronics</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Bio-Medical Engineering</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Artificial Neural Networks</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Micro Processors & Micro Controllers Lab</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>VLSI Lab</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Digital Communications Lab</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>
    </div>
    
    <div class="tab-pane fade" id="r10ece_4thyear" role="tabpanel" aria-labelledby="r10ece_4thyear">
      <h5>&nbsp4-1</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Radar Systems</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Digital Image Processing</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Computer Networks</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Optical Communications</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>TV Engineering</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      
      <tr>
        <td>Electronic Switching Systems</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>System Design through Verilog</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Embedded Systems</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Analog IC Design</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Network Security & Cryptography</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Micro Wave Engineering & Optical Lab</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Digital Signal Processing Lab</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>
  <h5>&nbsp4-2</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cellular Mobile Communications</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Electronic Measurements and Instrumentation</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Satellite Communications</td>
        
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Wireless sensors & Networks</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Digital IC Design</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>Operating Systems</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      
    </tbody>
  </table>

    </div>
    </div>
  </div>
</div>
</div>

<div class="card shadow-lg p-3 mb-5">
    
      <big>R10-ECE-Complete-syllabus-book
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href="" target="_blank"><u>click here to download</u></a>
  </big>
  </div>




  {% endblock %}