{% extends "layout.html" %}
    {% block content %}

    <div class="text-center mine1"><h3>R16-CSE</h3></div>
     <br>
  <div>
    <h4>Syllabus & Previous Question papers</h4>
    <br>
  </div>
  <div class="shadow-lg p-3 mb-5">
	<div class="card ">
  <div class="card-header"> 
    <ul class="nav nav-tabs card-header-tabs pull-right"  id="r16cse_years" role="tablist">
      <li class="nav-item">
       <a class="nav-link active" id="" data-toggle="tab" href="#r16cse_1styear" role="tab" aria-controls="home" aria-selected="true">1st Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r16cse_2ndyear" role="tab" aria-controls="profile" aria-selected="false">2nd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r16cse_3rdyear" role="tab" aria-controls="contact" aria-selected="false">3rd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r16cse_4thyear" role="tab" aria-controls="contact" aria-selected="false">4th Year</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
   <div class="tab-content" id="r16cse_years_Content">
      <div class="tab-pane fade show active" id="r16cse_1styear" role="tabpanel" aria-labelledby="r16cse_1styear">

        <h5>&nbsp1-1</h5>
      <table class="table table-hover table-responsive">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Syllabus</th>
          <th>Question Papers</th>
          <th>Materials</th>
        </tr>
      </thead>
        <tbody>
          <tr>
            <td>ENGLISH - I</td>
            <td><a href="https://drive.google.com/open?id=1ZMWQj3GraTGqrlxY_Hl653We2cfCiPRV"  target='_blank'><font color="blue">download</font></a></td>
            <td><a href="https://drive.google.com/open?id=17EBIrXsW_D-3aF-jqJBFjqROHHnwPJ36"><font color="blue">download</font></a></td>
            <td><a  target="_blank" ><font>download</font></a></td>
          </tr>
          <tr>
            <td>MATHEMATICS-I</td>
            <td><a href="https://drive.google.com/open?id=1jWZ0bpMPFCT45ExWylD8fvh1miGguBeS"><font color="blue">download</font></a></td>
            <td><a href="https://drive.google.com/open?id=14xypG9v7xaXv6L44Uc1q6Fh2V9fXmrE4" target="_blank"><font color="blue">download</font></a></td>
            <td><a ><font >download</font></a></td>
          </tr>
          <tr>
            <td>MATHEMATICS-II (Numerical Methods and Complex Variables)</td>
            <td><a href="https://drive.google.com/open?id=1_edrbkX6MOIkpjvFuTgt5LrvccukDpeM" target="_blank"><font color="blue">download</font></a></td>
            <td><a href="https://drive.google.com/open?id=1oLwRvChP188QQpojO9nTieZLR4Fi_3Cu" target="_blank"><font color="blue">download</font></a></td>
            <td><a  ><font >download</font></a></td>
          </tr>
          <tr>
            <td>APPLIED PHYSICS</td>
            <td><a href="https://drive.google.com/open?id=1cRTgW1mP9WQFCVT-4ZkD_Utimd8jqGEd" target="_blank"><font color="blue">download</font></a></td>
            <td><a href="https://drive.google.com/open?id=1b430nZ0JAGainKesp-VsSXn-OVVmXVkA" target="_blank"><font color="blue">download</font></a></td>
            <td><a ><font >download</font></a></td>
          </tr>
          <tr>
            <td>COMPUTER PROGRAMMING</td>
            <td><a href="https://drive.google.com/open?id=1ww0a8vMSTfAOQXrVWoG-BE13FUNutTxx" target="_blank"><font color="blue">download</font></a></td>
            <td><a href="https://drive.google.com/open?id=10D4uPRgBgB2A33LklP4dPC2HvINaOBLU" target="_blank"><font color="blue">download</font></a></td>
            <td><a  target="_blank"><font >download</font></a></td>
          </tr>
          <tr>
            <td>ENGINEERING DRAWING</td>
            <td><a href="https://drive.google.com/open?id=18N7TpATyY8vu5dVCDlOF3R-1J0RkWBxO" target="_blank"><font color="blue">download</font></a></td>
            <td><a href="https://drive.google.com/open?id=1K1wW4Ueti42yiYGOOPxvV_a4Jygmsj1-" target="_blank"><font color="blue">download</font></a></td>
            <td><a  target="_blank"><font >download</font></a></td>
          </tr>
          <tr>
            <td>ENGLISH - COMMUNICATION SKILLS LAB- 1</td>
            <td><a href="https://drive.google.com/open?id=1lf_-hqNbM6SHatAHSEtBN59lpdFvgm3d" target="_blank"><font color="blue">download</font></a></td>
            <td><a  target="_blank"><font >download</font></a></td>
            <td><a  target="_blank"><font >download</font></a></td>
          </tr>
          <tr>
            <td>APPLIED / ENGINEERING PHYSICS LAB</td>
            <td><a href="https://drive.google.com/open?id=1cRTgW1mP9WQFCVT-4ZkD_Utimd8jqGEd" target="_blank"><font color="blue">download</font></a></td>
            <td><a  target="_blank"><font >download</font></a></td>
            <td><a  target="_blank"><font >download</font></a></td>
          </tr>
          <tr>
            <td>COMPUTER PROGRAMMING LAB</td>
            <td><a href="https://drive.google.com/open?id=1XIsvGLE2xu_3oioz5f-r7xlTmxZAIRzN" target="_blank"><font color="blue">download</font></a></td>
            <td><a  target="_blank"><font >download</font></a></td>
            <td><a  target="_blank"><font >download</font></a></td>
          </tr>
        </tbody>
      </table>

      <h5>&nbsp1-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH -II</td>
        <td><a href="https://drive.google.com/open?id=1F7cM-vBY3YYsG07H0XvaD7trDQfJWpPM" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1cIDURm_Dp7lUto7nzrvo_QzoZ4cBEcsl" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>MATHEMATICS-III</td>
        <td><a href="https://drive.google.com/open?id=1YraRTUwEsTEf2eInMi0d4OifSwP-f4Al" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1CWlB6kGIOzNX1yJJqm0dzanjJrQGwUDJ" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>APPLIED CHEMISTRY</td>
        <td><a href="https://drive.google.com/open?id=1dKUcQmdNcKHQwdOdeQjso9enpvxhmTgW" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1EGCG2WJGUYRwsAk2JwPiwAcU0z3KFgiG" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>OBJECT ORIENTED PROGRAMING THROUGH C++</td>
        <td><a href="https://drive.google.com/open?id=1tifyA8XDBRLm1kFw2tnwpQYiiBVFnPXS" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1Hiq2K7P3S_9KY5tDPPILGTj7P7SSXFvK" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>ENVIRONMENTAL STUDIES</td>
        <td><a href="https://drive.google.com/open?id=1fDSxMfqxv3kMe6D_SKOGxN_-qNuY1pi8" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1cuLw4Unx6QC31pbrlH_wtHxzgYV9ePeF" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>ENGINEERING MECHANICS</td>
        <td><a href="https://drive.google.com/open?id=12qDdQVJ4_tpfG17kkxnLB6qZHfAnp7hT" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1KYKa6qMrp5r9aZ0Uh9nlnhIbioCDw6fe" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>APPLIED/ENGINEERING CHEMISTRY LABORATORY</td>
        <td><a href="https://drive.google.com/open?id=1viVMtxG2XuZz2VXB0ERDg-zaXqT5c3H1" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>ENGLISH - COMMUNICATION SKILLS LAB - 2</td>
        <td><a href="https://drive.google.com/open?id=1vyyoVg0DmBE-dphMwh17ThC9YoM0qc0z" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>OBJECT ORIENTED PROGRAMMING LAB</td>
        <td><a href="https://drive.google.com/open?id=1R9oeLt0fA0erMNHh8puHFDJvWQtVlzzF" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>



    </div>


      <div class="tab-pane fade" id="r16cse_2ndyear" role="tabpanel" aria-labelledby="r16cse_2ndyear">

  <h5>&nbsp2-1</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>STATISTICS WITH R PROGRAMMING</td>
        <td><a href="https://drive.google.com/open?id=1QwnJ9OPeI8Zr7_n5YAxSvtNPDkAuMxOz" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1MT594S__bcHfMbIMCtlsQuPMx-PcFMl8" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>MATHEMATICAL FOUNDATIONS OF COMPUTER SCIENCE</td>
        <td><a href="https://drive.google.com/open?id=1vbXb-Qry3DZl42lKBOOuiYmP4x6Eah04" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1CeqwNOcP7Ime0qVqim1HYDBKA6q9PRn8" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DIGITAL LOGIC DESIGN</td>
        <td><a href="https://drive.google.com/open?id=1AIBxzTXwjKqRcatCX9bpTyYKUszUSBbH" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1EPu95fs3n3z1hXFGxuPk7VoNq46XTN-q" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>PYTHON PROGRAMMING</td>
        <td><a href="https://drive.google.com/open?id=1-LcHrfbpbVawfpMng5UnZj9qxmQX72c7" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=13ySsJoxpKtAZqu8ZiFLl2_Z68jqbmDkd" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DATA STRUCTURES THROUGH C++</td>
        <td><a href="https://drive.google.com/open?id=1z91sGn9F2ZwfaD8zLuSMPb5526a9pZtZ" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1QQlTTExPJFCdpfLZywMRCYLI8MmoW3uZ" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>COMPUTER GRAPHICS</td>
        <td><a href="https://drive.google.com/open?id=1JPKRgl58q7oppx5dmuaKAegoAtE1E3AO" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=18Z5mlX2InS_J_V4U6nE7LizJP9prpGZx" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DATA STRUCTURES THROUGH C++ LAB</td>
        <td><a href="https://drive.google.com/open?id=1J7av-YGR6yrTKWp8pC935Rv8MmQKwfXk" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>PYTHON PROGRAMMING LAB</td>
        <td><a href="https://drive.google.com/open?id=1vOVTT70FdITal6DHIjej33xTM98sGzCk" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>


  <h5>&nbsp2-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>SOFTWARE ENGINEERING</td>
        <td><a href="https://drive.google.com/open?id=1vKZ38e8CGFgAI0wq8bVDbVgIN_06eBus" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1qYuBKhe5N2I1niIdnvwE9KfudScKRO1S" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>JAVA PROGRAMMING</td>
        <td><a href="https://drive.google.com/open?id=1pkNXNdtboMuGiqrEISYde4aPsi732-Ua" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1v6Qjt1DZ8maBQvfRu7WNh49OPShux8qV" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>ADVANCED DATA STRUCTURES</td>
        <td><a href="https://drive.google.com/open?id=1nELr7tAwN2Q8m5x39R3qCEc8u3m1O4Nq" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1FvOz5o2bYPGG3vJTcvC8RNeNbPb6vcuk" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>COMPUTER ORGANIZATION</td>
        <td><a href="https://drive.google.com/open?id=14mZDUmEXpIK3y_KPfRGpseI_PcR93J_F" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=11Qm-vn2y9Vip-_srOXjU41meCoglHHmB" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>FORMAL LANGUAGES AND AUTOMETA THEORY</td>
        <td><a href="https://drive.google.com/open?id=15neieXlxwRX1n869ZlK7yjH-lR7yLnBc" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1IgLAM4iOPdc8BFg1enGC89QJEjwz9bqs" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>PRINCIPLES OF PROGRAMMING LANGUAGES</td>
        <td><a href="https://drive.google.com/open?id=1AiFfgWMw4vZZMSvXrokSRDIRlG_G7Bra" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1793Ej845coLTCJfVhIcmJAFsFJr94WBi" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>ADVANCED DATA STRUCTURES LAB</td>
        <td><a href="https://drive.google.com/open?id=1GNjytZCZ4wQ36YX7gpD-iTR18h8qfhnu" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>JAVA PROGRAMMING LAB</td>
        <td><a href="https://drive.google.com/open?id=1mDr9e6-vwr4vUJk53ox6GwEzti9Gh-s6" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>

      </div>
  
      <div class="tab-pane fade" id="r16cse_3rdyear" role="tabpanel" aria-labelledby="r16cse_3rdyear">
         <h5>&nbsp3-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>COMPILER DESIGN</td>
        <td><a href=https://drive.google.com/open?id=163BNlfLX59UEHtudnR37LjtvrsYj7Uae" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=10aFdfgDcAHsXLnHwnYWhd952QPbMMhF0" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>UNIX PROGRAMMNIG</td>
        <td><a href="https://drive.google.com/open?id=1gjYjba1ZPWdUTq9_aF9MbkYjcB18rxRO" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=15ATQbwjnpAgGeWbdQi0wlDYddVacvAjW" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>OBJECT ORIENTED ANALYSIS AND DESIGN USING UML</td>
        <td><a href="https://drive.google.com/open?id=1GDST2_PFVN1GXfDyBKDsQHtiUFmQM28e" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1YmbZIhEio-6p3mvon1dEZ4UQA6YW5-D-" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DATABASE MANAGEMENT SYSTEMS</td>
        <td><a href="https://drive.google.com/open?id=1cZOVs00oyOtgMmnrFDKWM8VqJDGXbTT9" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1o6bVK-r3SHu60g1xNSoaOOuPlRR83EzJ" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>OPERATING SYSTEMS</td>
        <td><a href="https://drive.google.com/open?id=1QBW45pKc074VmQzLc-Zi2usMouemJwg5" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=149FB2quPE2buN-udnpNcV0BjIoRLqtVU" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>UNIFIED MODELING LAB</td>
        <td><a href="https://drive.google.com/open?id=1c5Rv-XKoNKbOlcPXxqpdoSRytasyWcTo" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>OPERATING SYSTEMS AND LINUX PROGRAMMNIG LAB</td>
        <td><a href="https://drive.google.com/open?id=13JZ7M8euGlWUFlokAkOynR1k0i-v5G3H" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DATABASE MANAGEMENT SYSTEM LAB</td>
        <td><a href="https://drive.google.com/open?id=11GlyL0Me0EBh3HO-2pfVM8al8dyGa1AC" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      
    </tbody>
  </table>

     <h5>&nbsp3-2</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>COMPUTER NETWORKS</td>
        <td><a href="https://drive.google.com/open?id=1Gj6jbccH8Gtkmax7DDFFTQMCYK1fK_fu" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1eazPbmjESMoGWO1j8040MzAPwjft1BOu" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DATA WAREHOUSING AND MINING</td>
        <td><a href="https://drive.google.com/open?id=1h1GgOzN1nJ56FRSg_N0xaEq4lbB59tSp" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1aCawpewDx6yW6XatVeIadvfhvq7ff_iy" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DESIGN AND ANALYSIS OF ALGORITHMS</td>
        <td><a href="https://drive.google.com/open?id=1RRcn_q3gf6uD3RJXrwXi0osrsmK1eIWQ" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1WSPGRgPTKDoIxp0VXIBwH6X7ennJEJgn" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>SOFTWARE TESTING METHODOLOGIES</td>
        <td><a href="https://drive.google.com/open?id=1i2f3wUWOEuWj4OHcOorUPES4d1IeQUKn" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1PHAg2N1djFhlf7fLH3x-f6bdzCXi1CNa" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>ARTIFICIAL INTELIGENCE</td>
        <td><a href="https://drive.google.com/open?id=1uHX7b8XGoooG7_9MRFORBMNTFqxytdLc" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>INTERNET OF THINGS</td>
        <td><a href="https://drive.google.com/open?id=10q_5j-WHF57gg7pL7HL-1MIG5ZJjpBFj" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=12z-V3TgrDNkGAwgazO3TC4E8weNzfb_O" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>CYBER SECURITY</td>
        <td><a href="https://drive.google.com/open?id=1YD2Zy_fswKhLP98npDztuhhsoLnrL_Nm" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1fpwJ3D5Em6ZgGjYByBzSZC6LKo6DmYyh" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DIGITAL SIGNAL PROCESSING</td>
        <td><a href="https://drive.google.com/open?id=1E7StDpL1TapJJi4-rEqWB9CXfz_YAmVr" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>EMBBEDED SYSTEMS</td>
        <td><a href="https://drive.google.com/open?id=1VkFVLd3VD_WKku6HKCYqm4u645dGXJee" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1rhO-vKGxDVHltm2knUCvIlUVfFJRsTgk" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>ROBOTICS</td>
        <td><a href="https://drive.google.com/open?id=1G5D7wnvrklpEWdDAOhF18c8tDmAL5WNW" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>NETWORK PROGRAMMING LAB</td>
        <td><a href="https://drive.google.com/open?id=1iBOV74Ypl4ko8R5KQgc0QuNMqJ3EcbAp" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>SOFTWARE TESTING LAB</td>
        <td><a href="https://drive.google.com/open?id=1ZYdEEZfUXJNi7NpjSrZl7s0ZeMC3DeeJ" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>DATA WAREHOUSING AND MINING LAB</td>
        <td><a href="https://drive.google.com/open?id=1hu_iYoHYcW1q5_QRWJICScGsKlKe6mn5" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>IPR AND PATENTS</td>
        <td><a href="https://drive.google.com/open?id=18Af5aAKkHhTvWBeWPBssuLqrNaJBE-gI" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>

      </div>
    
      <div class="tab-pane fade" id="r16cse_4thyear" role="tabpanel" aria-labelledby="r16cse_4thyear">

        <h5>&nbsp4-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CRYPTOGRAPHY AND NETWORK SECURITY</td>
        <td><a href="https://drive.google.com/open?id=1cVJecK39IelnqdvBUwoP_QKFfgSBHS4H" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>SOFTWARE ARCHITECTURE AND DESIGN PATTERNS</td>
        <td><a href="https://drive.google.com/open?id=1qslGaClT4C5K1NJYDLTDxj_MfKqtmj7e" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>WEB TECHNOLOGIES</td>
        <td><a href="https://drive.google.com/open?id=1y2OMhM67SRLnpd_s_fzBwplQ9XZ_j-M7" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>MANAGERIAL ECONOMICS AND FINANCIAL ANALYSIS</td>
        <td><a href="https://drive.google.com/open?id=1tgfUBJPgDj4NjWJXWEGrn7OwyTCm3whA" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>BIG DATA ANALYTICS</td>
        <td><a href="https://drive.google.com/open?id=119hD-L_PZ7UE3IPmdsnLAo1Ajlde9ouM" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>INFORMATION RETRIEVAL SYSTEMS</td>
        <td><a href="https://drive.google.com/open?id=13I-tsEjxcCPXD1KcQ5vtg3f6VUYbyDEK" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>

      <tr>
        <td>MOBILE COMPUTING</td>
        <td><a href="https://drive.google.com/open?id=1WRvV-pSKTs4xL4BiN2SAvFpeAVJ3ddkz" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>SCRIPTING LANGUAGES</td>
        <td><a href="https://drive.google.com/open?id=1Aw8TvSMfrkSReM7DXE5RfCop97FyKhzp" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>SOFTWARE ARCHITECTURE AND DESIGN PATTERNS LAB </td>
        <td><a href="https://drive.google.com/open?id=1o2Rxqooxrjaa82ATRtyfLQMaUe5JTrfd" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>WEB TECHNOLOGIES LAB</td>
        <td><a href="https://drive.google.com/open?id=1T3SsroWzq4FExyDMHkXVsZc0lQHvv1i2" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>

  <h5>&nbsp4-2</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>DISTRIBUTED SYSTEMS</td>
        <td><a href="https://drive.google.com/open?id=1HTVSm5Pr-hJycwI1vMgVuM1xqs0kh6L1" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>MANAGEMENT SCIENCE</td>
        <td><a href="https://drive.google.com/open?id=1LchEXNPN2H2K_onQCtOH7NcUQxDY_bok" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>MACHINE LEARNING</td>
        <td><a href="https://drive.google.com/open?id=16XVhs-ughjkHKN2TpQg9TJBZ4FUvN5Jk" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>CONCURRENT AND PARALLEL PROGRAMMING</td>
        <td><a href="https://drive.google.com/open?id=1z8d7j8CIBvwuemh-9DiYgiQKQ18vyhuB" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font>download</font></a></td>
      </tr>
      <tr>
        <td>ARTIFICIAL NEURAL NETWORKS</td>
        <td><a href="https://drive.google.com/open?id=1ROCWlHfK3WsFS7IkTN4bi70QqL3MYst9" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>OPERATIONS RESEARCH</td>
        <td><a href="https://drive.google.com/open?id=1l0p-WOCkqs0dKymPyS_hZpvQQkz24il4" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>

      
      
    </tbody>
  </table>
      </div>
    
    </div>
  </div>
</div>
</div>
<div class="card shadow-lg p-3 mb-5">
    
      <big>R16-CSE-Complete-syllabus-book
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href="https://drive.google.com/open?id=1cBMG9F9NroWSRq_reBG9DoJhei6qozU4" target="_blank"><u>click here to download</u></a>
  </big>
  </div>


	{% endblock %}