{% extends "layout.html" %}
    {% block content %}

    <div class="text-center mine1"><h3>R16-EEE</h3></div>
     <br>
  <div>
    <h4>Syllabus & Previous Question papers</h4>
    <br>
  </div>
  <div class="shadow-lg p-3 mb-5">
	<div class="card ">
  <div class="card-header"> 
    <ul class="nav nav-tabs card-header-tabs pull-right"  id="r16eee_years" role="tablist">
      <li class="nav-item">
       <a class="nav-link active" id="" data-toggle="tab" href="#r16eee_1styear" role="tab" aria-controls="home" aria-selected="true">1st Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r16eee_2ndyear" role="tab" aria-controls="profile" aria-selected="false">2nd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r16eee_3rdyear" role="tab" aria-controls="contact" aria-selected="false">3rd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r16eee_4thyear" role="tab" aria-controls="contact" aria-selected="false">4th Year</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="r16eee_years_Content">
      <div class="tab-pane fade show active" id="r16eee_1styear" role="tabpanel" aria-labelledby="r16eee_1styear">
      
      <h5>&nbsp1-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH - I</td>
        <td><a href="https://drive.google.com/open?id=1emtDoertuDm9T8xHIrFXQAZug5Hu5cKl" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=18b4DWlmxbDzrLoY32E2BIGAUlpbwL8T1" target="_blank"><font color="blue">download</font></a></td>

        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>MATHEMATICS-I</td>
        <td><a href="https://drive.google.com/open?id=1A3kHSLc8Emvt2masaPT9Y6wdKHGGFVrJ" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1X0ytimI0WyE8OCSftRFE7gK6fYesEmdl" target="_blank"><font color="blue">download</font></a></td>

        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>APPLIED CHEMISTRY </td>
        <td><a href="https://drive.google.com/open?id=1Vz9PXcib7meU7Mlt4kOMl-L9R8TrEeAG" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1D0QXxnf_vKwNWSXu_giWSOPF1Nh83esu" target="_blank"><font color="blue">download</font></a></td>

        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>ENGINEERING MECHANICS</td>
        <td><a href="https://drive.google.com/open?id=1sBJS27EaPc6I2CIyvVZJNxUrD4ojOhwq" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1pRsNPkYFaTTrZYnnFokxc-F6meZiPHxY" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTER PROGRAMMING</td>
        <td><a href="https://drive.google.com/open?id=1EQYqe2S-_G6sk2z5LWr1QeYKC7NRC1li" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1giNnHwrJOt4TAqaNwh5gVhXpc1vCrPKd" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ENVIRONMENTAL STUDIES</td>
        <td><a href="https://drive.google.com/open?id=1T8FOWekkYVpzUxbv8ozMkp-6PDTkT88m" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1orsKU5_o3r_Nymb74IHHR07dUA3m0xjv" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>APPLIED/ENGINEERING CHEMISTRY LABORATORY</td>
        <td><a href="https://drive.google.com/open?id=14iFH3PFKYFA_ECBmHH7F8zUNKgv-Br_R" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ENGLISH-COMMUNICATION SKILLS LAB-1</td>
        <td><a href="https://drive.google.com/open?id=1RibCVTQlCo6gy75GTLgybfez6v-_93dW" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTER PROGRAMMING LAB</td>
        <td><a href="https://drive.google.com/open?id=1c7hnAS-Oswaz0QGrt4-IGvsXstwT06KQ" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>

  <h5>&nbsp1-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH -II</td>
        <td><a href="https://drive.google.com/open?id=1SGohQ4LA17dxE9pmrhdPP80eePSsHb3U" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1K_MPEpE_uS6QSNFsro-t34hvn6czD5dr" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>MATHEMATICS-II(MATHAMATICAL METHODS)</td>
        <td><a href="https://drive.google.com/open?id=1Ww2UwiQaCfx7y67nQ_k0l_vSrR48n721" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1hR95sSU_X0dftTE2xGmn8gWcWc2ggMB7" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>MATHEMATICS-III</td>
        <td><a href="https://drive.google.com/open?id=1hkmvRgC5HB1rAX9T_78aXJ93DS8l23dz" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1N2E5RgQ8XjeXnd_pAGsap-JYr9eIBJkX" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>APPLIED PHYSICS</td>
        <td><a href="https://drive.google.com/open?id=149mvU1EYnYfLIjPC95aV-7UYfqTTJf7V" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1xCPbHlQ8IWpnYtg6m4bSuErSzBuLczZ0" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ELECTRICAL CIRCUIT ANALYSIS-I</td>
        <td><a href="https://drive.google.com/open?id=1ZNO03tosws2NsXJrWvTUW6O5E9hvvUsi" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1aGsDuPFBJTFYpWv-gMehtF7actT2kJrz" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING DRAWING </td>
        <td><a href="https://drive.google.com/open?id=1L70YLOtTygYJj9kzayZW8X1_ewVR3k8r" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1IXbA9euwVVH3b_MRvzh8MY7PEccbz8-P" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ENGLISH-COMMUNICATION SKILLS LAB 2</td>
        <td><a href="https://drive.google.com/open?id=1SAZTMOVSC8roHoXOSqtb9SBEFzVn7xAb" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>APPLIED/ENGINEERING PHYSICS LABORATORY</td>
        <td><a href="https://drive.google.com/open?id=1pleFviSzkvYGorMMgw1uldoUvPsFdntU" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING WORKSHOP AND IT WORKSHOP</td>
        <td><a href="https://drive.google.com/open?id=1QVH2EghrFNy5vOzaDyMdVIco1bO6OlEP" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
    </tbody>
  </table>

      </div>
  
      <div class="tab-pane fade" id="r16eee_2ndyear" role="tabpanel" aria-labelledby="r16eee_2ndyear">
      
        <h5>&nbsp2-1</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ELECTRICAL CIRCUIT ANALYSIS 2</td>
        <td><a href="https://drive.google.com/open?id=1D5Xoz3yS86ddFnaHBqG1qNaGY2tkTgCQ" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1XRqcxbvE0n3uU8MU--MpwmWIjKODtW_k" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ELECTRICAL MECHANIES 1</td>
        <td><a href="https://drive.google.com/open?id=1mhalYbvYifcQtaw9CjORixL1D-ZZ264q" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1J4b420cLIgle8hlSk8uwPfBoKkr-uAVH" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>BASIC ELECTRONICS AND DEVICES</td>
        <td><a href="https://drive.google.com/open?id=1T3Tg68aMLypvWdGKJQrIzUgIBqblehJM" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1T4LWWrKCE7NNQru7eQO4vxa_Zy4CvVcv" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ELECTRO MAGNETIC FIELDS</td>
        <td><a href="https://drive.google.com/open?id=1SzJqHbDY6dxYbQN14Dqw3XSXgaXYpJ87" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1ZliDocgrrg2PdoJnEzbEpn5xj2NNmFD1" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>THERMAL AND HYDRO PRIME MOVERS</td>
        <td><a href="https://drive.google.com/open?id=1Q0naOZsgvaIQvv_Z4COOytD2NCnFKuAM" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1zBZplRava1nh3351tkCL9iT6l58DoQ50" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>MANAGERIAL ECONOMICS AND FINANCIAL ANALYSIS</td>
        <td><a href="https://drive.google.com/open?id=1FizUuBYxe-dykLPZ9bBlQqbgCZTg1dvM" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1byVzKR_AkCuiJewKFTzwpuraxJHulq--" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>THERMAL AND HYDRO LAB</td>
        <td><a href="https://drive.google.com/open?id=1GZnEe8zAROgT8-BUWgNJoFA9ZADsyDkW" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ELECTRICAL CIRCUITS LABORATORY</td>
        <td><a href="https://drive.google.com/open?id=1GwfOG53nhrvRrN7jZW3Kx0hhlnahFxnt" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
    </tbody>
  </table>
  <h5>&nbsp2-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ELECTRICAL MEASUREMENTS</td>
        <td><a href="https://drive.google.com/open?id=11tIOZFb1RiwXWDUHkX8F96ywUJ10NjRC" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1-7s3DRI9jggeWmwEPBk7T8FYylyX8XBB" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ELECTRICAL MECHANIES 2</td>
        <td><a href="https://drive.google.com/open?id=1Pd5ja0krL4uVJRskZESv-uIwpdNdvfY8" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1Ry1auXnDsr3YCi-yitpvYgQlfWso-2Ag" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>SWITCHING THEORY AND LOGIC DESIGN</td>
        <td><a href="https://drive.google.com/open?id=1bi39R3wltX-w-YLA1j5UXunlCN4G_-CN" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1a5iax3X5v2xc6rOSTclDaUjC2UyQEWWj" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>CONTROL SYSTEMS</td>
        <td><a href="https://drive.google.com/open?id=1MVbIa5rIldMmWEH25tw9iOXeAypcg1ER" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1sA7xy45bXgtcHHg1qgj4CzM3fRjAYmMB" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>POWER SYSTEMS 1</td>
        <td><a href="https://drive.google.com/open?id=11mr3cagPsDU3SFLLWbVmesvpG0-24spV" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1lzPbSnOBx4oUUq9Wq3zwRCj52pjwxW0G" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MANAGEMENT SCIENCE</td>
        <td><a href="https://drive.google.com/open?id=1KofHVCBH_2sElqULU2yEmw6nv8UnQDgO" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=14qsC-Ix-DjfRsHZdGWrVDKKNsJbi7wIz" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ELECTRICAL MECHANICS 1 LAB</td>
        <td><a href="https://drive.google.com/open?id=17b_y0kBTe0hPBYI8TqTMfKO5PvwcSm71" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ELECTRONIC DEVICES AND CIRCUITS LABORATORY</td>
        <td><a href="https://drive.google.com/open?id=1QunT07Nl1PhHX-tNzseTZ6sNRt0RVZ1K" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
    </tbody>
  </table>
        

      </div>
  
      <div class="tab-pane fade" id="r16eee_3rdyear" role="tabpanel" aria-labelledby="r16eee_3rdyear">
        <h5>&nbsp3-1</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>POWER SYSTEMS 2</td>
        <td><a href="https://drive.google.com/open?id=1lQ6k56sm1SovufNkPHDMFd4sA0mzzA2y" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1qu3HiVcvceMjj51t1blLXZqTspLkgdlq" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>RENEWABLE ENERGY SOURCES</td>
        <td><a href="https://drive.google.com/open?id=1UjdsZEZVpm_7qVzXiXe4sS0K-Z3vOkZj" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1-67wpavkFB8P4AIpGiBx_HgMYsg0QB_O" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>SIGNALS AND SYSTEMS</td>
        <td><a href="https://drive.google.com/open?id=14HqfxPyN1U1dB5bKeWx9KN_p8tf0Pj-1" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1NuJC5AornhoAm6_NpmBnc59ZIRDihJFJ" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>PULSE & DIGITAL CIRCUITS</td>
        <td><a href="https://drive.google.com/open?id=1Vt67TWC_you2p0AZ0VVZq48KMkLC_0CK" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1Wi4389M41JmxiO8jS9oY-QCb44rzQNuP" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>POWER ELECTRONICS</td>
        <td><a href="https://drive.google.com/open?id=1Q0i9GLe1a3EMCvMcKUsMLuBEN0DfL299" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=176ehQQa2Z-x98bQfFnXUwfMtBDpNixaj" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ELECTRICAL MECHINES 2 LAB</td>
        <td><a href="https://drive.google.com/open?id=1xeS4MfqUEvdmeoq_Grz-yyBD5-G0wUUz" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>CONNTROL SYSTEMS LAB</td>
        <td><a href="https://drive.google.com/open?id=1hHj99MK4PNxG82mC9vS23lnff5mZno83" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ELECTRICAL MEASUREMENTS LABORATORY</td>
        <td><a href="https://drive.google.com/open?id=1zblRR5aRWrIMvX2hty1_fEeNXcOXxCCV" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
    </tbody>
  </table>

  <h5>&nbsp3-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>POWER ELECTRONIC CONTROLLERS & DRIVERS</td>
        <td><a href="https://drive.google.com/open?id=1xiZJMdu_DH0LsebhQPF0S7wvzU1Chywm" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1HzsdtNXhYIGbXLuYfy9WAB_kebnDtkts" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>POWER SYTEMS ANALYSIS</td>
        <td><a href="https://drive.google.com/open?id=1sTLPx7lvujciI4yz58SEf4bh8Us4eCaz" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1n4Uc44VD-gphND2ANU6WC-uoOk7YKX0u" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MICRO PROCESSORS AND MICRO CONTROLLERS</td>
        <td><a href="https://drive.google.com/open?id=1RiQsZq1_Oscuk5hUn0FKHgAiwd_AK4fQ" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1FAzvc74qjZ-tyE3i-HlLpjcNTzPZlhr3" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>DATA STRUCTURES</td>
        <td><a href="https://drive.google.com/open?id=1DRS2z8qNTTTgU9BgzONSijZw-CLVWG2G" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1hwNdLt9RV4JPP2RHPv81LQChYkL5Qwpj" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>UNIX AND SHELL PROGRAMMING</td>
        <td><a href="https://drive.google.com/open?id=17jhmibCCnge-zBncbsjOYpJAEYa7vhrp" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>OOPS THROUGH JAVA</td>
        <td><a href="https://drive.google.com/open?id=1bo71VWcS8OL2HmNpFs3wg6qfOZpGaZHJ" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1bDxB73XKYSV9YbZwo37T8qlcNVqFdfwS" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>VLSI DESIGN</td>
        <td><a href="https://drive.google.com/open?id=1uWD2Svx1yYxXuqNcvHhC0BuFKk7R6Mt5" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ROBOTICS</td>
        <td><a href="https://drive.google.com/open?id=1j1l2D5vxdk9G0mOPTOeds0MxM96TQWsm" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>NEURAL NETWORKS & FUZZY LOGIC</td>
        <td><a href="https://drive.google.com/open?id=1ceThY1wneSstv5FIxsOOYV-liSaxruO_" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENERGY AUDIT AND CONSERVATION & MANAGEMENT</td>
        <td><a href="https://drive.google.com/open?id=1JfrF4JhplGVNzWOEec3WzxT4qGfOCwut" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1KQhMN8e5U3BcxtNzPAHHH0XGcW7r4m--" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>POWER ELECTRONICS LABORATORY</td>
        <td><a href="https://drive.google.com/open?id=1_Fv_Jamkk1s3dEWxcoO1ijl9tA8YW2CO" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MICROPROCESSORS AND MICROCONTROLLERS </td>
        <td><a href="https://drive.google.com/open?id=14rN7F2pCDq_eOxjKw-6aKE5saieAE9Jr" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>DATA STUCTURES LABORATORY</td>
        <td><a href="https://drive.google.com/open?id=1sFLecbP_I-obv0z5YxyUXr4kbPnLw6WM" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>

    </tbody>
  </table>

      </div>
    
      <div class="tab-pane fade" id="r16eee_4thyear" role="tabpanel" aria-labelledby="r16eee_4thyear">
          <h5>&nbsp4-1</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>UTILIZATION OF ELECTRICAL ENERGY</td>
        <td><a href="https://drive.google.com/open?id=1UFfVBg8t5mrd_1fa5y7r7bYB_O7yiLN7" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>LINEAR IC APPILICATIONS</td>
        <td><a href="https://drive.google.com/open?id=1DfYvtFXt9pryL-NsU-jh7ELfBNzprv23" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>POWER SYSTEMS OPERATIONS & CONTROL </td>
        <td><a href="https://drive.google.com/open?id=1u4qU0zMZJMK4BgdoRLI8pULgrHRBe6pu" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>SWITCHGEAR AND PROTECTION</td>
        <td><a href="https://drive.google.com/open?id=1eAv_7P3qxHFDDGIXmd9pnmmk8E4RYiUK" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ELECTRICAL MACHINE MODELING AND ANALYSIS</td>
        <td><a href="https://drive.google.com/open?id=13WzHsEiuG_GEy7aOGXd3mE6cARWcus5U" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ADVANCED CONTROL SYSTEMS </td>
        <td><a href="https://drive.google.com/open?id=1HbdBQbjs1t71RoBN7SmXHAdFeT1BIFwM" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>PROGRAMMABLE LOGIC CONTROLLERS & APPLICATIONS </td>
        <td><a href="https://drive.google.com/open?id=1QC-WOPEp29u278uro58V8cp-NsKJ7sUn" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>INSTRUMENTATION</td>
        <td><a href="https://drive.google.com/open?id=1Ue7qRf52lLw0jjEoUK_sYm-lV7oCBYEO" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>OPTIMIZATION TECHNIQUES</td>
        <td><a href="https://drive.google.com/open?id=1P_GWTrU31prZMxjWZSvEPyFm7Oag8maN" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ELECTRIC POWER QUALITY</td>
        <td><a href="https://drive.google.com/open?id=1iJyklV92u9KGzQ9st1BpxnRR1fF5iFAm" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>SPECIAL ELECTRICAL MACHINES</td>
        <td><a href="https://drive.google.com/open?id=1_TO3HLWldBPUb_iXO1OXtyru1aW_iEAj" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ELECTRICAL SIMULATION LABORATORY </td>
        <td><a href="https://drive.google.com/open?id=1TNLv6zqA0udug47f-r0mi5nOX-D0eKPJ" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>POWER SYSTEMS & SIMULATION LAB</td>
        <td><a href="https://drive.google.com/open?id=1YFYTY3_EQ24Z8AC-qKXJ_TMaI18mAgwD" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
    </tbody>
  </table>        
            <h5>&nbsp4-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>DIGITAL CONTROL SYSTEMS </td>
        <td><a href="https://drive.google.com/open?id=1MT-Gire8C1b7TR4nmo9xjtzNl2T6fe4H" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>HVDC TRANSMISSION</td>
        <td><a href="https://drive.google.com/open?id=15uBbzHYjoNHGltoLnWD2YK9VJothtHjz" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ELECTRICAL DISTRIBUTION SYSTEMS </td>
        <td><a href="https://drive.google.com/open?id=1qNYE-Bx9X9yK3vUwPFdAylW_GOPOuZMB" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>HIGH VOLTAGE ENGINEERING</td>
        <td><a href="https://drive.google.com/open?id=1bp3Dc0HloZP9Iy4oy9MLgMTuTPQq7V0l" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>FLEXIBLE ALTERNATING CURRENT TRANSMISSION SYSTEMS</td>
        <td><a href="https://drive.google.com/open?id=1idxTl_sI60L2Eew2zLwmR1CoEoJf6XKd" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>POWER SYSTEMS REFORMS</td>
        <td><a href="https://drive.google.com/open?id=1WeG3mbv4bUQWH1xvecNLhGX5AvwrIoDb" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      
    </tbody>
  </table>        





      </div>
    </div>
  </div>
</div>
</div>
<div class="card shadow-lg p-3 mb-5">
    
      <big>R16-EEE-Complete-syllabus-book
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href="https://drive.google.com/open?id=1NDgwj8JmwPQMapRBuiNYZguvfFtAYb0E" target=_blank><u>click here to download</u></a>
  </big>
  </div>

	{% endblock %}