{% extends "layout.html" %}
    {% block content %}

    <div class="text-center mine1"><h3>R16-MECH</h3></div>
     <br>
  <div>
    <h4>Syllabus & Previous Question papers</h4>
    <br>
  </div>
  <div class="shadow-lg p-3 mb-5">
	<div class="card ">
  <div class="card-header"> 
    <ul class="nav nav-tabs card-header-tabs pull-right"  id="r16mech_years" role="tablist">
      <li class="nav-item">
       <a class="nav-link active" id="" data-toggle="tab" href="#r16mech_1styear" role="tab" aria-controls="home" aria-selected="true">1st Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r16mech_2ndyear" role="tab" aria-controls="profile" aria-selected="false">2nd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r16mech_3rdyear" role="tab" aria-controls="contact" aria-selected="false">3rd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r16mech_4thyear" role="tab" aria-controls="contact" aria-selected="false">4th Year</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="r16mech_years_Content">
      <div class="tab-pane fade show active" id="r16mech_1styear" role="tabpanel" aria-labelledby="r16mech_1styear">
              <h5>&nbsp1-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH - I</td>
        <td><a href="https://drive.google.com/open?id=1zJAfh9Cwi04lFvhHKEvcSHvNC--XUAB3" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1vuV_mLEbxaLUIQwxP-HT8WEFkg8n_WKN" target="_blank"><font color="blue">download</font></a></td>

        <td><a  target="_blank"><font >download</font></a></td>
      </tr>
      <tr>
        <td>MATHEMATICS-I</td>
                <td><a href="https://drive.google.com/open?id=1vg1QMRfFpuJ4WGezu5dyyvSp0wihwx9f" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1Av6eJ9fnzXiMkOyDKdFCNlNKTKGtzQX2" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING CHEMISTRY</td>
                <td><a href="https://drive.google.com/open?id=18nt60b111VCQySeH5i8xPwee0t4V8OKL" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=10UGBIJ06iF5aemuizFj2XD1mZEi9jaGT" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING MECHANICS</td>
                <td><a href="https://drive.google.com/open?id=1g5Yaz6R3S1ZEmg0FbEYsmf-JszA1E2j9" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1-xSnHIcgQW5J5TG6fkH7H6WJ5iuMnphQ" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTER PROGRAMMING</td>
                <td><a href="https://drive.google.com/open?id=1Qv6UVYNjfVDrX1LyLvX53Hq2BY408WYr" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1NAxLuiXUy6xw7ni2QGq_3Kn05VqSoVRb" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ENVIRONMENTAL STUDIES</td>
                <td><a href="https://drive.google.com/open?id=1yz8qSE7F377i756nFTT2VyWnaxo5mlq0" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=13JRiNM3KhplwtTqb27b3Bm608Uo22qDg" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ENGLISH - COMMUNICATION SKILLS LAB- 1</td>
                <td><a href="https://drive.google.com/open?id=1rQMbNIQsjrjgBsD3QgZthxxWqoc1Hq9t" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>APPLIED / ENGINEERING CHEMISTRY LAB</td>
                <td><a href="https://drive.google.com/open?id=1oNscV4ZzbkxaCTVEc1eZ9CMoPKRnac3Z" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTER PROGRAMMING LAB</td>
                <td><a href="https://drive.google.com/open?id=145-ytYGStbgLpnYc61jxLSvsyF8YG1OA" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
    </tbody>
  </table>
  <h5>&nbsp1-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH -II</td>
                <td><a href="https://drive.google.com/open?id=1ygzTnZNJp8oqZIjNGct0p1ZB8Y2pm7hk" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1SjUbyYxi2FRlF0b9agyyZ3_7fnEDqSON" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>MATHEMATICS-II</td>
                <td><a href="https://drive.google.com/open?id=1xNP0e777_a0b_su4_MR1l0kD9GELTolr" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1UVl4ChX0a1ScvQ_5ywRQly855oNyrAlO" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>MATHEMATICS-III</td>
                <td><a href="https://drive.google.com/open?id=10eGIqGgqHl1gjPUptTJOTaWXwvEs_J3A" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1dH444M9i4kjkI-xdHIWYtkQpWUJ_YhqH" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font>download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING PHYSICS</td>
                <td><a href="https://drive.google.com/open?id=1OC3ME8TnmK9xMoZHka0FRR0OUq8tnJ_a" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1negGMElj8o421DEJMQidc3jeMLWPWucX" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>BASIC ELECTRICAL AND ELECTRONIC ENGINEERING </td>
                <td><a href="https://drive.google.com/open?id=1dduEBuVGZGEli0rUUuYA8t4Yp_E6z7bu" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1oYJSL_EClg5cu9CDl6mmT1Bqn1dQPpuZ" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><fontcolor="blue">download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING DRAWING</td>
                <td><a href="https://drive.google.com/open?id=1_jPMnT9sRhaiW-jsEeWbJ9ED4XcwPkY8" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1VAnWjPElhNYQtH7fTFI7AD4SytDYncWj" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>APPLIED/ENGINEERING PHYSICS LABORATORY</td>
                <td><a href="https://drive.google.com/open?id=1D6VSYhAqUt23cpq0Gui2y9ZjuYZInk6a" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ENGLISH - COMMUNICATION SKILLS LAB - 2</td>
                <td><a href="https://drive.google.com/open?id=1n2azvqBnreIgw1umIkAibyAqGDQn8mt9" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ENGINEERING WORKSHOP AND IT WORKSHOP</td>
                <td><a href="https://drive.google.com/open?id=1Zaw4VFHnE_j1K3_6WKn7DvMpfy4-MGaO" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><ahref="" target="_blank"><font >download</font></a></td>

      </tr>
    </tbody>
  </table>

      </div>
      
      <div class="tab-pane fade" id="r16mech_2ndyear" role="tabpanel" aria-labelledby="r16mech_2ndyear">
            <h5>&nbsp2-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>METALLURGY & METERIAL SCIENCE </td>
                <td><a href="https://drive.google.com/open?id=1M6g4Io_IpEEqp5kSy8kMduzMIw_qXyK9" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1HvmxVakj4q2lksdGkq6Goa5U2CcYA2FB" target="_blank"><font color="blue">download</font></a></td>
        <td><a target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>MECHANICS OF SOLIDS</td>
                <td><a href="https://drive.google.com/open?id=1KJraGRkKIWajW1gsm47CqTvSgbH3U5ao" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1wigLpjVfV2B6F0e1misbYJRwFmfrz5Up" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>THERMODYNAMICS</td>
                <td><a href="https://drive.google.com/open?id=1t1n-V6HL3MSOosWi5KN3_geZhWgNSRWQ" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1CuXnTfg_Fm6ecPnqwwUR-cUsPXH-kSbi" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>Managerial Economics & Financial Analysis</td>
                <td><a href="https://drive.google.com/open?id=1F3h6YOJDkW1H_vFMc-NJdhwMSgQ-M4RN" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=15VwNOXbq0R6iqP5Gas_x4pKbLYhpKhcX" target="_blank"><font color="blue">download</font></a></td>
        <td><a target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>FLUID MECHANICS & HYDRAULIC MECHANICS</td>
                <td><a href="https://drive.google.com/open?id=1GFkkQGrSwb3Cwas1gRou6YioGfgblTwx" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1sbRs_JbUL-CJBMHs36v21TEqoeDgsTzr" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTER AIDED ENGINEERING DRAWING </td>
                <td><a href="https://drive.google.com/open?id=1ZsqXNotHxveIH7_jHqLq0ydwSYg4dng_" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1dwRrM0BRG4GpnHVHVELZfpJbpPKDG1Kj" target="_blank"><font color="blue">download</font></a></td>
        <td><a target="_blank"><font >download</font></a></td>

      </tr>

      <tr>
        <td>ELECTRICAL AND ELECTRONIC ENGG. LAB</td>
                <td><a href="https://drive.google.com/open?id=1KHyanurtFmnaSoIN3-mVGcJPMvkt64Ww" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><fontcolor="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MECHANICS OS SOLID & METALLURGY LAB</td>
                <td><a href="https://drive.google.com/open?id=1irRwGPROHO1vzDPehy89BFhjsaLXm8zb" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      
    </tbody>
  </table>
  <h5>&nbsp2-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>KINAMATICS OF MACHINERY</td>
                <td><a href="https://drive.google.com/open?id=1H8JOoqiXtFELwYAX-PmOmY7AsUOGVM7P" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=17cOo_0STX0gXLmC7hQHpf1LuSZCijHiw" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>THERMAL ENGINEERING 1</td>
                <td><a href="https://drive.google.com/open?id=1PAcx3QvmmGQmc10ptLP3aLs7kUnAZ-R6" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1vNRaLDFe8XXPj9vsa96z5VQ3ioFcKMv9" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>PRODUCTION TECHNOLOGY</td>
                <td><a href="https://drive.google.com/open?id=1aEOybXgh9-zfHBRjiixTazaMvVIkm_NS" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=18g9Z-eeg5wyNU0sFaBlhINf7TPgF4bV1" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>DESIGN OF MACHINE MEMBERS 1</td>
                <td><a href="https://drive.google.com/open?id=1ubozttEtpnMT6RSU3f2fZ8xNZuHylZ-S" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1Gs6jD9orVf_XwQyntKdrvfmykf_qElts" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>MACHINE DRAWING</td>
                <td><a href="https://drive.google.com/open?id=19f4fnV3egvMaw0TNES0aPKc1aHjSUpT0" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1Z_8lRKjcmFVA7B3mtqPo5J5A6pgtMCtH" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>INDUSTRIAL ENGINEERING AND MANAGEMENT</td>
                <td><a href="https://drive.google.com/open?id=1-wKhgn2isvfyZN2jLRuczq2fcrB62TI7" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1CSS_RC07tdaqoxxcESlz_DZVLsiyqs0Z" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>FLUID MECHANICS AND HYDRAULIC MACHINES LAB</td>
                <td><a href="https://drive.google.com/open?id=1fP6qpgNznTGLpYHj76viQYde_9BQNbof" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>PRODUCTION TECHNOLOGY LAB</td>
                <td><a href="https://drive.google.com/open?id=1JDmUYrvVcGhBElp4Oa9cBNbjYs5w8XOF" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
    </tbody>
  </table>


      </div>
      
      <div class="tab-pane fade" id="r16mech_3rdyear" role="tabpanel" aria-labelledby="r16mech_3rdyear">
            <h5>&nbsp3-1</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>DYNAMICS OF MACHINERY</td>
                <td><a href="https://drive.google.com/open?id=176R1jyZfCjBe_IIfih96e7fzr768gBxA" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1mzTnimz92F8x46uAbWJHuAoknG9hUmiM" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>METAL CUTTING & MACHINE TOOLS</td>
                <td><a href="https://drive.google.com/open?id=1WQYOZ1SynE2GFi2gde18pp1_VVpMjOIS" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=14dmE84REWHeu5OT5yznmouY2TOAMKAWY" target="_blank"><font color="blue">download</font></a></td>
        <td><a target="_blank"><fontcolor="blue">download</font></a></td>

      </tr>
      <tr>
        <td>DESIGN OF MACHINE MEMBERS–II</td>
                <td><a href="https://drive.google.com/open?id=1kyQUpW2RA26nE_7rSzJ3sRrACtyYIdv-" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=14e_7H0e_1RWkWRARs5UwOkvc45HCY6ES" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
      <tr>
        <td>OPERATIONS RESEARCH</td>
                <td><a href="https://drive.google.com/open?id=1Qf7dlUf7QMQdOso9MtxFBRRI6GWtAxM2" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1YWGkZFd7N-R-fDuOETFi1zoogfr-1k9H" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>THERMAL ENGINEERING 2</td>
                <td><a href="https://drive.google.com/open?id=1a3UdvQplYlUCJDOo8tw2AAv0CXitq5m2" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1sDZfi6DO57myQxyk_zGb0LLz8JxN9W7Q" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>THEORY OF MACHINES LAB</td>
                <td><a href="https://drive.google.com/open?id=1nNfrTcZDZrFeyYuqhLTYIkQZ3gZ-gnui" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><fontcolor="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MACHINE TOOLS LAB</td>
                <td><a href="https://drive.google.com/open?id=1wrfYnal489_f4MtaCi3Rh2cNjNLkMbB5" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>THERMAL ENGINEERING LAB</td>
                <td><a href="https://drive.google.com/open?id=1KJ-IcVpl93363WAw_Ym4KQCCdN2-hci6" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>IPR & PATENTS</td>
                <td><a href="https://drive.google.com/open?id=1pk72nDG1uu77nYQDpJSxQtmnk_qTiP1t" target="_blank"><font color="blue">download</font></a></td>
        <td><a target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      
    </tbody>
  </table>
  <h5>&nbsp3-2</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>METROLOGY</td>
                <td><a href="https://drive.google.com/open?id=1onQMs8J2F2Keh4xp9ZDf0QJfF2ef42xc" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1KRbQDm5-Har3zUCT0NxMb5eaHK2zswIz" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>INSTRUMENTATION & CONTROL SYSTEMS</td>
                <td><a href="https://drive.google.com/open?id=1SgSzibmxt9aWhJCEphvDiqZHEuionxfE" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>REFRIGERATION AND AIR-CONDITIONING</td>
                <td><a href="https://drive.google.com/open?id=1z9-iRZ564tdPt0YjSLlIZBIcbdPseoyb" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1qpVmrR9Mk_LChS2DT2lkee-N0GnpsVRJ" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>HEAT TRANSFER</td>
                <td><a href="https://drive.google.com/open?id=1GPEud1mfqkM0-1lcQagZIjjVVZNsCHZl" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=17OQ2chpu2ybuqRWRZuKdmG4gu_5XWRM3" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ENTERPRENEURSHIP</td>
                <td><a href="https://drive.google.com/open?id=1LOWeeNuU1pLVQdIXWwEu8BQsCHBH9OTP" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>DATABASE MANAGEMENT SYSTEMS</td>
                <td><a href="https://drive.google.com/open?id=1yRqBaqcWn24aTsZXwUIuH8GA42n3nqSC" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>WATER WASTE MANAGEMENT </td>
                <td><a href="https://drive.google.com/open?id=1ZNC1W9-rvFBgnJxhMGrX_MU7qdhKx5VQ" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTER GRAPHICS</td>
                <td><a href="https://drive.google.com/open?id=1obWpwywt3sCSfMplj4gxL04OOpyftusR" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>INDUSTRIAL ROBOTICS</td>
                <td><a href="https://drive.google.com/open?id=1SpnFnPtzfM2Jw_3_9ydkbwOfrKOBQuzE" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>GREEN ENGINEERING SYSTEMS</td>
                <td><a href="https://drive.google.com/open?id=1l7TjTJAZj-sJNN-ewa1i9bKlrLwaRoaY" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="https://drive.google.com/open?id=1QWDJKtmtJiYK8-axb8i9tGGjp9uSSdjF" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font>download</font></a></td>

      </tr>
      <tr>
        <td>HEAT TRANSFER LAB</td>
                <td><a href="https://drive.google.com/open?id=1QROOaMhB08I1Xy0fkOjxbS7Hg3LrYfeS" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>METROLOGY AND INSTRUMENTATION LAB</td>
                <td><a href="https://drive.google.com/open?id=19mO9HQ7sv6zK_Z8gYM4DUNlXXmyp4TWp" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font>download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTATIONAL FLUID DYNAMINS LAB</td>
                <td><a href="https://drive.google.com/open?id=1ZGj7JpnrgzOTwy2hUggh2OiMB18-Qi1G" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
    </tbody>
  </table>


      </div>
      
      <div class="tab-pane fade" id="r16mech_4thyear" role="tabpanel" aria-labelledby="r16mech_4thyear">
           <h5>&nbsp4-1</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>MECHATRONICS</td>
                <td><a href="https://drive.google.com/open?id=1dnLXvcRa3rvnpTUAVed3MAhHbV_Qwz2w" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font>download</font></a></td>

      </tr>
      <tr>
        <td>CAD / CAM</td>
                <td><a href="https://drive.google.com/open?id=1z2cawhg-qDDACW4AZ-c1uqRj0UvI4FFP" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>FINITE ELEMENT METHODS</td>
                <td><a href="https://drive.google.com/open?id=1RvyuBlxGhyffJIAQrMKweHSSbW6K7D-x" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>POWER PLANT ENGINEERING</td>
                <td><a href="https://drive.google.com/open?id=1z4VPWWcZ1UgojloACUFVnLL5pJ4VLmNV" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>COMPUTATIONAL FLUID DYNAMICS</td>
                <td><a href="https://drive.google.com/open?id=1xPuFlIpULM-uTulXwzkxHmdN5JUhC786" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>CONDITIONAL MONITORING</td>
                <td><a href="https://drive.google.com/open?id=1bdX2ThT3iQbmi5086SbS-9KAt-uUEo7v" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ADDITIVE MANUFRACTURING</td>
                <td><a href="https://drive.google.com/open?id=18C5cUTQWqHdGPofxu28RRMZhJvchq8TI" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>ADVANCED MATERIALS</td>
                <td><a href="https://drive.google.com/open?id=1RDst1XDRrD6pOokefDQaOnq3YHX--t7s" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>DESIGN FOR MANUFRACTURE</td>
                <td><a href="https://drive.google.com/open?id=1H9RTgwMJI-X2fhvCECOiDrRTIhsuFkEC" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>GAS DYNAMICS & JET PROPULSION</td>
                <td><a href="https://drive.google.com/open?id=1iAcWUi6jNqTw1E2kuo_Sbl7Btrn76Czt" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>CAD / CAM LAB</td>
                <td><a href="https://drive.google.com/open?id=15chNQXJkI_t0vExkRPolJoRfc8Yzdw23" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>MECHATROMICS LAB</td>
                <td><a href="https://drive.google.com/open?id=1fxpJtoO5CeRAiHflxuHLFihF1RRjTpM6" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      
    </tbody>
  </table>
  <h5>&nbsp4-2</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>PRODUCTION PLANNING AND CONTROL</td>
                <td><a href="https://drive.google.com/open?id=1_1fvUYF29IlGLgV2nK91RVfXymBAw6XB" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>UNCONVENTIONAL MACHINING PROCESSES</td>
                <td><a href="https://drive.google.com/open?id=1TcF-Dn4b1D5LzFIUxyI1S10sPC-FLK1N" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>
        <td><a  target="_blank"><font >download</font></a></td>

      </tr>
      <tr>
        <td>AUTOMOBILE ENGINEERING</td>
                <td><a href="https://drive.google.com/open?id=1S2FrA3RB2oTyEzDai4BbxNTIJT1-Nr7J" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>THERMAL EQUIPMENT DESIGN</td>
                <td><a href="https://drive.google.com/open?id=12YIRChleg_sz8ltwWuJfVEutes3lLpc3" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>NON DISTRUCTIVE EVELUATION</td>
                <td><a href="https://drive.google.com/open?id=1KnUZVw-WOZP-T5Yc8DN8ZVnT3HAKovQZ" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      <tr>
        <td>QUALITY AND RELIABILITY ENGINEERING</td>
                <td><a href="https://drive.google.com/open?id=1ZrT-d7jZzK085NiXR0ZWZiKQNBgpYBVv" target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>
        <td><a  target="_blank"><font color="blue">download</font></a></td>

      </tr>
      
    </tbody>
  </table>

      </div>
    </div>
  </div>
</div>
</div>
<div class="card shadow-lg p-3 mb-5">
    
      <big>R16-MECHANICAL-Complete-syllabus-book
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href="https://drive.google.com/open?id=1aWsjxVCBKLTZlCU6UGA-FDlkZ46tiAdy" target="_blank"><u>click here to download</u></a>
  </big>
  </div>


	{% endblock %}