{% extends "layout.html" %}
    {% block content %}

    <div class="text-center mine1"><h3>R16-PETROLIUM</h3></div>
     <br>
  <div>
    <h4>Syllabus & Previous Question papers</h4>
    <br>
  </div>
  <div class="shadow-lg p-3 mb-5">
	<div class="card ">
  <div class="card-header"> 
    <ul class="nav nav-tabs card-header-tabs pull-right"  id="r16pet_years" role="tablist">
      <li class="nav-item">
       <a class="nav-link active" id="r16pet_1styear" data-toggle="tab" href="#r16pet_1styear" role="tab" aria-controls="home" aria-selected="true">1st Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="r16pet_2ndyear" data-toggle="tab" href="#r16pet_2ndyear" role="tab" aria-controls="profile" aria-selected="false">2nd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="r16pet_3rdyear" data-toggle="tab" href="#r16pet_3rdyear" role="tab" aria-controls="contact" aria-selected="false">3rd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="r16pet_4thyear" data-toggle="tab" href="#r16pet_4thyear" role="tab" aria-controls="contact" aria-selected="false">4th Year</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
   <div class="tab-content" id="r16pet_years_Content">
             <div class="tab-pane fade show active" id="r16pet_1styear" role="tabpanel" aria-labelledby="r16pet_1styear">...</div>
  <div class="tab-pane fade" id="r16pet_2ndyear" role="tabpanel" aria-labelledby="r16pet_2ndyear">...</div>
  <div class="tab-pane fade" id="r16pet_3rdyear" role="tabpanel" aria-labelledby="r16pet_3rdyear">...</div>
    <div class="tab-pane fade" id="r16pet_4thyear" role="tabpanel" aria-labelledby="r16pet_4thyear">...</div>
        </div>
  </div>
</div>
</div>
<div class="card shadow-lg p-3 mb-5">
    
      <big>R16-PETROLIUM-Complete-syllabus-book
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href=""><u>click here to download</u></a>
  </big>
  </div>


	{% endblock %}