{% extends "layout.html" %}
    {% block content %}

    <div class="text-center mine1"><h3>R13-IT</h3></div>
     <br>
  <div>
    <h4>Syllabus & Previous Question papers</h4>
    <br>
  </div>
  <div class="shadow-lg p-3 mb-5">
  <div class="card ">
  <div class="card-header"> 
    <ul class="nav nav-tabs card-header-tabs pull-right"  id="r13it_years" role="tablist">
      <li class="nav-item">
       <a class="nav-link active" id="" data-toggle="tab" href="#r13it_1styear" role="tab" aria-controls="home" aria-selected="true">1st Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r13it_2ndyear" role="tab" aria-controls="profile" aria-selected="false">2nd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r13it_3rdyear" role="tab" aria-controls="contact" aria-selected="false">3rd Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="" data-toggle="tab" href="#r13it_4thyear" role="tab" aria-controls="contact" aria-selected="false">4th Year</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="r13it_years_Content">
      <div class="tab-pane fade show active" id="r13it_1styear" role="tabpanel" aria-labelledby="r13it_1styear">
        <h5>&nbsp1-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH - I</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>MATHEMATICS-I</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>MATHEMATICS-II (Numerical Methods and Complex Variables)</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>APPLIED PHYSICS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>COMPUTER PROGRAMMING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>ENGINEERING DRAWING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>ENGLISH - COMMUNICATION SKILLS LAB- 1</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>APPLIED / ENGINEERING PHYSICS LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>ENGINEERING WORKSHOP & IT WORKSHOP</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
    </tbody>
  </table>

  <h5>&nbsp1-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>ENGLISH -II</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>MATHEMATICS-III</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>APPLIED CHEMISTRY</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>OBJECT ORIENTED PROGRAMMING THROUGH C++</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>ENVIRONMENTAL STUDIES</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>ENGINEERING MECHANICS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>APPLIED/ENGINEERING CHEMISTRY LABORATORY</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>ENGLISH - COMMUNICATION SKILLS LAB - 2</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>OBJECT ORIENTED PROGRAMMNIG LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
    </tbody>
  </table>
      </div>

      <div class="tab-pane fade" id="r13it_2ndyear" role="tabpanel" aria-labelledby="r13it_2ndyear">
        
            <h5>&nbsp2-1</h5>
      <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>STATICS WITH R PROGRAMMING </td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>MATHEMATICAL FOUNDATIONS OF COMPUTER SCIENCE</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>DIGITAL LOGIC DESIGN </td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>PYTHON PROGRAMMING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>DATA STRUCTURES THROUGH C++</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>SOFTWARE ENGINEERING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>

      <tr>
        <td>DATA STRUCTURES THROUGH C++ LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>PYTHON PROGRAMMING LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      
    </tbody>
  </table>

    <h5>&nbsp2-2</h5>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>COMPUTER GRAPHICS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>JAVA PROGRAMMING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>E-COMMERCE</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>COMPUTER ORGANIZATION</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>OBJECT ORIENTED ANALYSICS AND DESIGN USING UML</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>PRINCIPALS OF PROGRAMMING LANGUAGES</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>UNIFIED MODELLED LANGUAGES LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>JAVA PROGRAMMING LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
    </tbody>
  </table>


      </div>
  
      <div class="tab-pane fade" id="r13it_3rdyear" role="tabpanel" aria-labelledby="r13it_3rdyear">
        

        <h5>&nbsp3-1</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>HUMAN COMPUTER INTERACTION</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>UNIXAND SHELL PROGRAMMING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>ADVANCED JAVA PROGRAMMING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>DATABASE MANAGEMENT SYSTEMS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>OPERATING SYSTEMS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>ADVANCED JAVA PROGRAMMING LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>UNIX AND OPERATING SYSTEMS LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>DATABASE MANAGEMENT SYSTEMS LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
    </tbody>
  </table>


  <h5>&nbsp3-2</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>COMPUTER NETWORKS </td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>DATA MINING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>WEB TECHNOLOGIES</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>SOFTWARE TESTING AND METHODOLOGIES </td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>ARTIFICIAL INTELEGENCE</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>SOCIAL NETWORKS AND SEMANTIC WEB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>DIGITAL SIGNAL PROCESSING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>EMBEDDED SYSTEMS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>ROBOTICS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>OPERATIONS RESEACRH</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>WEB TECHNOLOGIES LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>SOFTWARE TESTING Lab</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>DATA MINING LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
    </tbody>
  </table>
      </div>

    
      <div class="tab-pane fade" id="r13it_4thyear" role="tabpanel" aria-labelledby="r13it_4thyear">
        <h5>&nbsp4-1</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CRYPTOGRAPHY AND NETWORK SECURITY</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>MOBILE COMPUTING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>DATA WARE HOUSING AND BUSINESS INTELLIGENCE</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>MANAGERAL ECONIMOCS AND FINANCIAL SCIENCES</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>BIG DATA ANALYTICS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>INFORMATION RETRIEVAL SYSTEMS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>INTERNET OF THINGS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>MULTIMEDIS PROGRAMMING </td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>CLOUD COMPUTING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>SOFTWARE PROJECT MANAGEMENT</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>MACHINE LEARNING</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>DECISSION SUPPORT SYSTEM</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>MOBILE COMPUTING LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>CRYPTOGRAPHY AND NETWORK SECURITY LAB</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
    </tbody>
  </table>
  <h5>&nbsp4-2</h5>
    <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Syllabus</th>
        <th>Question Papers</th>
        <th>Materials</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>DISTRIBUTED SYSTEMS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>MANAGEMENT SCIENCE</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>MANAGEMENT INFORMATION SYSTEM</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>CONCURRENT AND PARALLEL PROGRAMMING </td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>ARTIFICIAL NEURAL NETWORKS</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      <tr>
        <td>SOFTWARE QUALITY ASSURANCE</td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
        <td><a href="" target="_blank"><font color="blue">download</font></a></td>
      </tr>
      
    </tbody>
  </table>


      </div>
        </div>
  </div>
</div>
</div>
<div class="card shadow-lg p-3 mb-5">
    
      <big>R13-IT-Complete-syllabus-book
      &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <a href=""><u>click here to download</u></a>
  </big>
  </div>


  {% endblock %}